#lightbox{position:absolute;left:0;width:100%;z-index:16000 !important;text-align:center;line-height:0}#lightbox
img{width:auto;height:auto}#lightbox a
img{border:none}#outerImageContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0
auto}#imageContainer{padding:10px}#loading{position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0}#hoverNav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}#imageContainer>#hoverNav{left:0}#hoverNav
a{outline:none}#prevLink,#nextLink{width:49%;height:100%;background-image:url('http://forum_en.dev/public/style_images/chameleon/spacer.gif');display:block}#prevLink{left:0;float:left}#nextLink{right:0;float:right}#prevLink:hover,#prevLink:visited:hover{background:url('http://forum_en.dev/public/style_images/chameleon/lightbox/prevlabel.gif') left 15% no-repeat}#nextLink:hover,#nextLink:visited:hover{background:url('http://forum_en.dev/public/style_images/chameleon/lightbox/nextlabel.gif') right 15% no-repeat}#imageDataContainer{font:10px Verdana, Helvetica, sans-serif;background-color:#fff;margin:0
auto;line-height:1.4em;overflow:auto;width:100%}#imageData{padding:0
10px;color:#666}#imageData
#imageDetails{width:70%;float:left;text-align:left}#imageData
#caption{font-weight:bold}#imageData
#numberDisplay{display:block;clear:left;padding-bottom:1.0em}#imageData
#bottomNavClose{width:66px;float:right;padding-bottom:0.7em;outline:none}#overlay{position:fixed;top:0;left:0;z-index:15000 !important;width:100%;height:500px;background-color:#000}strong.bbc{font-weight:bold !important}em.bbc{font-style:italic !important}span.bbc_underline{text-decoration:underline !important}acronym.bbc{border-bottom:1px dotted #000}span.bbc_center,div.bbc_center,p.bbc_center{text-align:center;display:block}span.bbc_left,div.bbc_left,p.bbc_left{text-align:left;display:block}span.bbc_right,div.bbc_right,p.bbc_right{text-align:right;display:block}div.bbc_indent{margin-left:50px}del.bbc{text-decoration:line-through !important}.post.entry-content ul, ul.bbc, .as_content ul, .comment_content
ul{list-style:disc outside;margin:12px
0 12px 40px}.post.entry-content ul, ul.bbc ul.bbc, .as_content
ul{list-style-type:circle}.post.entry-content ul, ul.bbc ul.bbc ul.bbc, .as_content
ul{list-style-type:square}ul.decimal,ul.bbcol.decimal, .post.entry-content ol, .post_body ol, .as_content
ol{margin:12px
0 12px 40px !important;list-style-type:decimal !important}.post.entry-content ul.lower-alpha,ul.bbcol.lower-alpha{margin-left:40px;list-style-type:lower-alpha}.post.entry-content ul.upper-alpha,ul.bbcol.upper-alpha{margin-left:40px;list-style-type:upper-alpha}.post.entry-content ul.lower-roman,ul.bbcol.lower-roman{margin-left:40px;list-style-type:lower-roman}.post.entry-content ul.upper-roman,ul.bbcol.upper-roman{margin-left:40px;list-style-type:upper-roman}span.bbc{width:100%;display:block;border-top:2px solid #777;height:4px}div.bbc_spoiler{}div.bbc_spoiler
span.spoiler_title{font-weight:bold}div.bbc_spoiler_wrapper{}div.bbc_spoiler_content{background:#fcfcfc;border:1px
dashed #e3e3e3;padding:5px;margin-top:5px}input.bbc_spoiler_show{width:45px;font-size: .8em;margin:0px;margin-left:5px;padding:0px}img.bbc_img{cursor:pointer}.signature
img.bbc_img{cursor:default}.signature a
img.bbc_img{cursor:pointer}cite.ipb{display:none}pre.prettyprint,code.prettyprint{background-color:#fcfcfc !important;color:#000;padding:8px;border:1px
solid #e3e3e3;overflow:auto;font-size:11px;line-height:170%;font-family:monospace !important}pre.prettyprint{margin:1em
auto;padding:1em}div.blockquote{font-size:12px;padding:10px;border:1px
solid #e3e3e3;background:#fcfcfc;color:#9f9f9f}div.blockquote
div.blockquote{margin:0
10px 0 0}div.blockquote
p.citation{margin:6px
10px 0 0}p.citation{font-size:12px;padding:8px
10px;border:1px
solid #e3e3e3;border-bottom:0;background:#f2f2f2 url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;color:#535353;text-shadow:rgba(255,255,255,1) 0px 1px 0px;font-weight:bold;margin-top:5px;overflow-x:auto;clear:right}blockquote.ipsBlockquote{font-size:12px;padding:10px;border:1px
solid #e3e3e3;border-top:1px solid #e8e8e8;background:#fcfcfc;color:#9f9f9f;margin-bottom:5px;margin:0;overflow-x:auto}blockquote.ipsBlockquote
blockquote.ipsBlockquote{margin:0
10px 0 0}blockquote.ipsBlockquote
p.citation{margin:6px
10px 0 0}blockquote.ipsBlockquote.built{border-top:none;-moz-border-top-right-radius:0px;-webkit-border-top-left-radius:0px;border-top-left-radius:0px;border-top-right-radius:0px}._sharedMediaBbcode{width:520px;background:#f5f5f5;border:1px
solid #d3d3d3;-moz-box-shadow:inset rgba(0,0,0,0.15) 0px 1px 4px;-webkit-box-shadow:inset rgba(0,0,0,0.15) 0px 1px 4px;box-shadow:inset rgba(0,0,0,0.15) 0px 1px 4px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#616161;display:inline-block;margin-right:15px;margin-bottom:5px;padding:10px;min-height:75px}._sharedMediaBbcode
img.bbc_img{float:left}.bbcode_mediaWrap
.details{color:#616161;font-size:12px;line-height:1.5;margin-left:95px}.bbcode_mediaWrap .details
a{color:#616161;text-decoration:none}.bbcode_mediaWrap .details h5, .bbcode_mediaWrap .details h5
a{font:400 20px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;color:#2c2c2c;word-wrap:break-word;max-width:420px}.bbcode_mediaWrap
img.sharedmedia_image{float:left;position:relative;max-width:80px}.bbcode_mediaWrap
img.sharedmedia_screenshot{float:left;position:relative;max-width:80px}.cke_button_ipsmedia
span.cke_label{display:inline !important}