#profile_photo{max-width:138px;max-height:138px}#profile_content_main{min-height:100px;line-height:1.3;margin-bottom:15px}#pane_info
.ipsLayout_right{width:260px !important;margin-right:-290px}#friends_overview
.ipsUserPhoto_link{margin:0
2px 5px 2px;display:inline-block}#profile_content_main
h1.ipsType_pagetitle{border:0}#profile_panes_wrap
.reputation{float:none;margin:0
0 5px 0;padding:10px;text-align:center;font-weight:normal;display:block}#profile_panes_wrap .reputation
.number{font-size:20px;font-weight:bold;display:block}#profile_panes_wrap .ipsList_data
.row_data{display:block;margin-left:130px}.warn_panel{text-align:center;margin:8px
0}.photo_holder{position:relative}#change_photo{position:absolute;top:0;left:0;background:rgba(0,0,0,0.2);color:#fff;opacity:0.3;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out}.photo_holder:hover
#change_photo{opacity:1;background:#000}#user_info_cell{display:table-cell;white-space:nowrap;padding-right:25px;line-height:20px}#user_status_cell{display:table-cell;width:100%;vertical-align:top}#user_latest_status{position:relative;padding-left:11px}#user_latest_status
.status_arrow{position:absolute;left:0px;top:50%;margin-top:-12px;height:0;width:0;display:block;border-width:11px 11px 11px 0px;border-color:transparent #333 transparent transparent;border-color:transparent rgba(0,0,0,0.7) transparent transparent;border-style:solid}#user_latest_status>div{padding:10px
15px;background-color:#333;background-color:rgba(0,0,0,0.7);color:#fff;font-size:14px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;min-height:45px;word-wrap:break-word}#user_latest_status>div>span{display:block;padding-top:6px}#user_utility_links{margin-top:10px;text-align:right}.rating{margin-top:10px}#status_wrapper
.ipsBox_container{margin-bottom:9px}#profile_tabs li.active a:before{content:"";display:inline-block;width:16px;height:16px;margin:-6px 8px -5px 0;background-image:url('http://forum_en.dev/public/style_images/chameleon/profile_tab_icon.png');background-repeat:no-repeat;background-position:50% 50%}#profile_tabs li[id$="info"] a:before{background-image:url('http://forum_en.dev/public/style_images/chameleon/profile_tab_info.png')}#profile_tabs li[id$="status"] a:before{background-image:url('http://forum_en.dev/public/style_images/chameleon/profile_tab_status.png')}#profile_tabs li[id$="friends"] a:before{background-image:url('http://forum_en.dev/public/style_images/chameleon/profile_tab_friends.png')}#profile_tabs li[id$="topics"] a:before{background-image:url('http://forum_en.dev/public/style_images/chameleon/profile_tab_topics.png')}#profile_tabs li[id$="posts"] a:before{background-image:url('http://forum_en.dev/public/style_images/chameleon/profile_tab_posts.png')}#profile_tabs li[id$="blog"] a:before{background-image:url('http://forum_en.dev/public/style_images/chameleon/profile_tab_blog.png')}#profile_tabs li[id$="gallery"] a:before{background-image:url('http://forum_en.dev/public/style_images/chameleon/profile_tab_gallery.png')}#profile_tabs li[id$="idm"] a:before{background-image:url('http://forum_en.dev/public/style_images/chameleon/profile_tab_idm.png')}