.bbcode_hilight{background-color:yellow}.as_content{font-size:1.0em;padding:6px;margin:8px;overflow:auto;max-height:400px}.as_buttons{text-align:right;padding:4px
0px}.as_message{display:inline-block}.ipsEditor_textarea{width:99%;height:200px;font-size:14px}.cke_browser_webkit{outline:none !important}.cke_top{background:#efefef url('http://forum_en.dev/public/style_images/chameleon/editor/toolbar_bg.png') repeat-x !important}.cke_skin_ips
.cke_wrapper.minimized{opacity:0.6 !important;background:none !important;border:none !important}.cke_skin_ips
.cke_wrapper.minimized.std{border:1px
solid #ddd !important}.cke_skin_ips .cke_wrapper.minimized .cke_contents,
.cke_skin_ips .cke_wrapper.minimized .cke_contents
iframe{height:80px !important}.cke_skin_ips{margin-bottom:0px !important}.cke_skin_ips
.cke_wrapper{padding:0px
5px 0px 3px !important;margin:2px
!important;border:1px
solid #ddd !important;background-color:#efefef !important;background-image:none !important}.cke_skin_ips
.cke_toolgroup{background-color:transparent !important}.cke_skin_ips .cke_button a:hover,
.cke_skin_ips .cke_button a:focus,
.cke_skin_ips .cke_button a:active{background-color:#ddd !important}.cke_skin_ips .cke_button a.cke_on,
.cke_skin_ips .cke_button a:hover.cke_on,
.cke_skin_ips .cke_button a:focus.cke_on,
.cke_skin_ips .cke_button a:active.cke_on{background-color:#ddd !important;-webkit-box-shadow:inset rgba(0,0,0,0.12) 0px 1px 2px !important;-moz-box-shadow:inset rgba(0,0,0,0.12) 0px 1px 2px !important;box-shadow:inset rgba(0,0,0,0.12) 0px 1px 2px !important}.cke_skin_ips
.cke_toolgroup{margin-right:0px !important}.cke_skin_ips
.cke_separator{border-left:solid 1px #ddd;display:inline-block !important;float:left;height:31px;margin:-3px 2px 0 2px}.cke_dialog_background_cover{background-color:#3e3e3e !important}.cke_skin_ips
.cke_dialog_title{background:#444 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 1px !important;color:#fff !important;padding:10px
10px 11px !important;font-size:16px !important;font-weight:300 !important;text-shadow:0 -1px 0px rgba(0,0,0,0.4);font-weight:normal}.cke_skin_ips
.cke_dialog_body{z-index:20000 !important}.cke_skin_ips
.cke_dialog_tabs{background:#444 !important}.cke_skin_ips
.cke_dialog_close_button{background:transparent url('http://forum_en.dev/public/style_images/chameleon/close_popup.png') no-repeat top left !important;width:13px !important;height:13px !important;top:11px !important;right:10px !important}.cke_skin_ips
span.cke_dialog_ui_button{height:22px !important;line-height:22px !important;font-size:12px !important;padding:0
10px !important;-moz-border-radius:2px !important;-webkit-border-radius:2px !important;border-radius:2px !important;display:inline-block !important;white-space:nowrap !important;background:#646464 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 0 !important;border:1px
solid #585858 !important;color:#fff !important;text-shadow:#474747 0px -1px 0px !important;-moz-box-shadow:rgba(0,0,0,0.43) 0px 1px 3px !important;-webkit-box-shadow:rgba(0,0,0,0.43) 0px 1px 3px !important;box-shadow:rgba(0,0,0,0.43) 0px 1px 3px !important;cursor:pointer !important}.cke_skin_ips .cke_dialog_footer
.cke_resizer{display:none}.ipsSmileyTray{position:relative;text-align:center;overflow:auto;margin:0px
auto 0px auto;padding:4px
24px 4px 24px;min-width:600px;width:75%;height:32px;border:1px
solid #ddd;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-moz-border-radius-topleft:0px;-webkit-border-radius-topleft:0px;border-top-left-radius:0px;-moz-border-radius-topright:0px;-webkit-border-radius-topright:0px;border-top-right-radius:0px;border-top:0px;-moz-box-shadow:0px 1px 4px rgba(0,0,0,0.15);-webkit-box-shadow:0px 1px 4px rgba(0,0,0,0.15);box-shadow:0px 1px 4px rgba(0,0,0,0.15);background:#efefef url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;overflow-y:hidden}.ipsSmileyTray
img.bbc_emoticon{opacity:0.8;cursor:pointer;margin:6px
3px 0px 3px;max-width:30px;max-height:30px}.ipsSmileyTray img.bbc_emoticon:hover{opacity:1.0}.ipsSmileyTray
.ipsSmileyTray_next{background:transparent url('http://forum_en.dev/public/style_images/chameleon/editor/next.png') no-repeat;background-position:0px 10px;display:inline-block;position:absolute;right:5px;top:4px;width:13px;height:30px;cursor:pointer}.ipsSmileyTray
.ipsSmileyTray_prev{background:transparent url('http://forum_en.dev/public/style_images/chameleon/editor/prev.png') no-repeat;background-position:0px 10px;display:inline-block;position:absolute;left:5px;top:4px;width:13px;height:30px;cursor:pointer}.ipsSmileyTray_all{display:block;width:auto;margin:6px
auto 0px auto;text-align:center;cursor:pointer;font-size:11px !important}.cke_dialog.cke_single_page
td.cke_dialog_contents{height:auto !important}.cke_dialog
.cke_dialog_ui_textarea{height:130% !important}table.cke_editor
td{padding:0px
!important}.cke_text,.cke_openbutton,.cke_panel{border-color:#a4a4a4 !important}.cke_skin_ips input.cke_dialog_ui_input_text,.cke_skin_ips
input.cke_dialog_ui_input_password{background:transparent none !important}.cke_skin_ips
.cke_dialog_contents{border-top:1px solid #333 !important}.cke_button_bold .cke_icon,
.cke_button_italic .cke_icon,
.cke_button_underline .cke_icon,
.cke_button_strike .cke_icon,
.cke_button_subscript .cke_icon,
.cke_button_superscript .cke_icon,
.cke_button_bulletedlist .cke_icon,
.cke_button_numberedlist .cke_icon,
.cke_button_link .cke_icon,
.cke_button_unlink .cke_icon,
.cke_button_ipscode .cke_icon,
.cke_button_ipsquote .cke_icon,
.cke_button_outdent .cke_icon,
.cke_button_indent .cke_icon,
.cke_button_justifyleft .cke_icon,
.cke_button_justifycenter .cke_icon,
.cke_button_justifyright .cke_icon,
.cke_button_ipsmedia .cke_icon,
.cke_button_textcolor .cke_icon,
.cke_button_ipsemoticon .cke_icon,
.cke_button_ipsbbcode_twitter .cke_icon,
.cke_button_image
.cke_icon{background-image:url("http://forum_en.dev/public/style_images/chameleon/editor/icons.png") !important}.cke_button_bold
.cke_icon{background-position:0 -64px !important}.cke_button_italic
.cke_icon{background-position:0 -80px !important}.cke_button_underline
.cke_icon{background-position:0 -96px !important}.cke_button_strike
.cke_icon{background-position:0 -112px !important}.cke_button_subscript
.cke_icon{background-position:0 -272px !important}.cke_button_superscript
.cke_icon{background-position:0 -256px !important}.cke_button_bulletedlist
.cke_icon{background-position:0 -240px !important}.cke_button_numberedlist
.cke_icon{background-position:0 -224px !important}.cke_button_link
.cke_icon{background-position:0 -320px !important}.cke_button_unlink
.cke_icon{background-position:0 -336px !important}.cke_button_ipscode
.cke_icon{background-position:0 -144px !important}.cke_button_ipsquote
.cke_icon{background-position:0 -304px !important}.cke_button_outdent
.cke_icon{background-position:0 -208px !important}.cke_button_indent
.cke_icon{background-position:0 -192px !important}.cke_button_justifyleft
.cke_icon{background-position:0 -32px !important}.cke_button_justifycenter
.cke_icon{background-position:0 0px !important}.cke_button_justifyright
.cke_icon{background-position:0 -48px !important}.cke_button_ipsmedia
.cke_icon{background-position:0 -288px !important}.cke_button_textcolor
.cke_icon{background-position:0 -176px !important}.cke_button_ipsemoticon
.cke_icon{background-position:0 -160px !important}.cke_button_ipsbbcode_twitter
.cke_icon{background-position:0 -352px !important}.cke_button_image
.cke_icon{background-position:0 -368px !important}