.ipsFilterbar #search_sort
.submenu_indicator{width:9px;height:5px;background:#244156 url(http://forum_en.dev/public/style_images/chameleon/header_dropdown.png) no-repeat;display:inline-block}#main_search_form
.ipsBox_container{margin-bottom:10px}#main_search_form
.ipsField{margin-bottom:20px}.toggle_notify_on{display:none}.show_notify
.toggle_notify_on{display:block}.show_notify
input.toggle_notify_on{display:inline}.show_notify
a.ipbmenu{display:none}.show_notify
.toggle_notify_off{display:none}.notify_info
span{padding:1px
8px;background:#ededed;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;font-size:10px;font-weight:bold;display:inline-block}.notify_info
img{vertical-align:bottom}#main_search_form
.search_app{font-size:12px;display:inline-block;padding:8px
10px 8px 8px;margin-right:8px;font-weight:bold;cursor:pointer}#main_search_form .search_app
label{cursor:pointer;vertical-align:middle}#main_search_form .search_app
input{margin:0;margin-right:1px;vertical-align:middle}#main_search_form
.search_app.active{background:url('http://forum_en.dev/public/style_images/chameleon/trans40.png') repeat;background:rgba(0,0,0,0.4);-webkit-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px;-moz-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px;box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px;text-shadow:rgba(0,0,0,0.3) 0px 1px 2px;color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}#main_search_form
.search_msg{border-bottom:1px solid #f0f0f0;display:block;font-size:12px;padding:0
0 5px 200px;margin-bottom:15px;color:#5c5c5c}div#search_results{}div#search_results
span.icon{float:left;margin-right:15px}div#search_results
div.result_info{float:left;width:68%}div#search_results div.result_info span.desc.breadcrumb
a{color:#a9a9a9}div#search_results
h3{background:none;font-weight:normal;font-size:1.3em;border:0;padding:0}div#search_results
li.liwrap{padding:10px
15px 15px 15px;border-top:1px solid #fff}div#search_results
p{color:#606060;margin:4px
0 2px 0}div#search_results
.result_details{width:30%;float:right;border-left:1px solid #B5C0CF;padding-left:15px;line-height:130%;font-size:11px}div#search_results .result_details
li{border:0;padding:0}div#search_results
.gutter{background-color:#528f6c;color:#fff;font-size:9px;font-weight:bold;text-transform:uppercase;padding:3px
8px 2px 8px;margin-top:0px;margin-right:15px;display:none;float:left}div#search_results .gutter
img{padding-right:4px}div#search_results .sub
div.result_info{padding-left:3%}div#search_results .sub
.gutter{background-color:#dedede;color:#1d3652;padding:6px
8px 5px 8px;margin-left:45px}div#search_results ol
ol{padding:20px
0 0 15px;margin:0
0 -15px 20px}.tab_filters
ul{padding-top:5px}.tab_filters
ul.padded{padding-top:10px}.maintitle.links,
.maintitle
a{text-decoration:none;font-size:12px}.entry-content.search{}.search_filter_container{height:440px;max-height:440px}.search_filter_container
ul.block_list{height:396px;overflow:auto}.search_filter_container ul.block_list>li{padding:0px}.search_filter_container ul.block_list > li
span{padding:3px
10px 3px 25px;display:block}.search_filter_container ul.block_list li
span.heading{font-weight:bold}.search_filter_container ul.block_list li.active
span{background:#af286d url(http://forum_en.dev/public/style_images/chameleon/icon_check_white.png) no-repeat 6px 8px;color:#fff;font-weight:bold}#vnc_filter_popup_close{text-align:center;position:absolute;bottom:0;left:0;right:0;height:42px;line-height:42px;padding:0
5px}#vnc_filter_popup_close
.input_submit{line-height:18px}#main_search_form
.input_text{margin:0
3px 2px 0}