#usercp_content{min-height:420px}#fbUserBox
p.desc{left:0px}.ipsSettings_section .custom
.wrap{display:block;padding:8px
0 8px 15px}.ipsSettings_section .custom .wrap
span.f{margin-right:10px}.notify_icon{width:12px;height:12px;display:inline-block;vertical-align:middle;margin-right:3px;background:url(http://forum_en.dev/public/style_images/chameleon/icon_notify_types.png) no-repeat}.notification_table td
.notify_icon{visibility:hidden}.notification_table tr:hover td
.notify_icon{visibility:visible}.notify_icon.inline{background-position:left}.notify_icon.mobile{background-position:center}.notify_icon.email{background-position:right}div.avatar_gallery{text-align:center;margin-top:15px;width:20%;float:left}div.avatar_gallery input,
div.avatar_gallery
label{margin-top:10px;display:inline-block}#usercp_content .notification_table
td.notify_title{font-size:0.9em;padding-left:15px}#usercp_content .notification_table
td{}