#messenger_utilities{width:19%}#messenger_content{width:80%}#messenger_content
h2{clear:none;font-size:1.4em}#folder_list,#space_allowance,#message_search,#participants,#invite_more{position:relative}#space_allowance
p{line-height:150%}#message_list{clear:right}#message_compose
.input_check{margin-left:245px}#invite_more_dialogue{display:none}#invite_more_dialogue
ul{padding:4px}#invite_more_autocomplete{width:99%}#folder_list #folders
li{margin-bottom:8px;padding:2px;position:relative}#folder_list #folders
img{margin-right:5px}#folder_list
.total{background:#efefef url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 1px;font-size:0.75em;font-weight:bold;padding:3px
6px;right:0;top:1px;position:absolute}#participants #participants_list span.name.left_convo
a{color:#8a8a8a;font-style:italic}#participants #participants_list span.name.blocked
a{color:#ad2930}#space_allowance{clear:both}li.new_folder{padding-left:20px}.add_folder.input_submit{padding:1px
3px}.edit_folders{background:#efefef;font-size:0.8em;font-weight:bold;margin-right:2px;padding:2px;right:3px;position:absolute}.f_delete{color:#f00}.col_m_subject{width:40%}.ipsSideBlock
.post_controls{margin:10px
-10px -10px -10px}#folder_list.ipsSideBlock
.post_controls{margin:10px
-5px -5px -5px}