#help_topics{}#help_topics
li{background-image:url(http://forum_en.dev/public/style_images/chameleon/help.png);background-repeat:no-repeat;background-position:9px 12px;padding:10px
32px}#help_topics li
h3{padding:2px
0 5px 0}.help_doc{border:1px
solid #c9c9c9}#help_topics .help_doc ul,
#help_topics .help_doc
ol{padding:8px
0}#help_topics .help_doc
li{background:none;padding:2px}.help_doc
.input_submit{padding:1px
4px}