body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0}hr{display:none;border:0}address{display:inline}body{background:#205b93 url("http://forum_en.dev/public/style_images/chameleon/background.jpg") repeat 50% 0;color:#5a5a5a;font:normal 11px tahoma,helvetica,arial,sans-serif;position:relative;padding-top:5px;padding-bottom:20px}input,select,textarea{font:normal 12px tahoma,helvetica,arial,sans-serif}h3,strong{font-weight:bold}em{font-style:italic}img,.input_check,.input_radio{vertical-align:middle}legend{display:none}table{width:100%}td{padding:3px}a{color:#3b5798;text-decoration:none}a:hover{color:#172c5b}::-moz-selection{color:#fff;background:#82b8e6}::selection{color:#fff;background:#82b8e6}.ipsList_inline>li{display:inline-block;margin:0
3px}.ipsList_inline>li:first-child{margin-left:0}.ipsList_inline>li:last-child{margin-right:0}.ipsList_inline.ipsList_reset>li:first-child{margin-left:3px}.ipsList_inline.ipsList_reset>li:last-child{margin-right:3px}.ipsList_inline.ipsList_nowrap{white-space:nowrap}.ipsList_withminiphoto>li{padding:7px}.ipsList_withmediumphoto > li
.list_content{margin-left:60px}.ipsList_withminiphoto > li
.list_content{margin-left:44px}#index_stats .ipsList_withtinyphoto .list_content,
.ipsList_withtinyphoto > li
.list_content{margin-left:32px}.list_content{word-wrap:break-word}.ipsList_data
li{padding:6px;line-height:1.3}.ipsList_data
.row_data{display:inline-block}.ipsList_data .row_title, .ipsList_data
.ft{display:inline-block;float:left;width:120px;font-weight:bold;text-align:right;padding-right:10px}.ipsList_data.ipsList_data_thin .row_title, .ipsList_data.ipsList_data_thin
.ft{width:80px}.ipsType_pagetitle,.ipsType_subtitle{font:300 26px/1.4 Helvetica,Arial,sans-serif;color:#ddd}.ipsType_subtitle{font-size:18px}.ipsType_sectiontitle{font-size:16px;font-weight:normal;color:#595959;padding:5px
0}.ipsType_pagedesc{color:#7f7f7f;line-height:1.5}.ipsType_pagedesc
a{text-decoration:underline}.ipsType_textblock{line-height:1.7}.ipsType_small{font-size:11px}.ipsType_smaller, .ipsType_smaller
a{font-size:11px !important}.ipsType_smallest, .ipsType_smallest
a{font-size:10px !important}.ipsBox_container
.ipsType_pagetitle{margin-bottom:6px}.ipsReset{margin:0px
!important;padding:0px
!important}.wrapper{margin:0
auto;min-width:980px;max-width:1300px;width:85%}#content{padding:10px
0px;line-height:120%}.row1,.post_block.row1{background-color:#fff}.row2,.post_block.row2{background-color:#fff}.unread
.highlight_unread{font-weight:bold}#recentajaxcontent li,
#idm_categories a,
#index_stats .status_list li,
#panel_files .file_listing li,
#panel_screenshots #ss_linked li,
.file_listing,
#cart_totals td,
div#member_filters li,
#files li,
.ipsType_sectiontitle,
#order_review td,
#package_details .package_info,
.block_list li,
.package_view_top,
.member_entry,
#help_topics li,
.ipsBox_container .ipsType_pagetitle,
.userpopup dl,
#announcements td,
.preview_info,
.sideVerticalList li,
fieldset.with_subhead ul,
.ipsList_data li,
.ipsList_withminiphoto li,
table.ipb_table td,
.store_categories li,
#mini_cart li,
#index_stats div[id*="statusReply"],
#ipg_category .ipg_category_row,
.block_inner .ipb_table td,
.gallery_pane h2,
.status_feedback li[id*="statusReply"],
.ipsSideMenu ul li,
#usercp_content .ipsType_subtitle,
.ipbfs_login_row,
.articles .block-1,
.articles .type-1x2x2 .article_row,
#idm_category .idm_category_row,
#category_list li a,.ipsComment{border-bottom:1px solid #ededed}.col_c_post,.col_f_post{border-left:1px solid #ededed}.ipsSideMenu ul,
#register_form hr,
#login_form hr,
.ipsSettings_section,
#index_stats div[id*="statusReply"]:first-child{border-top:1px solid #ededed}.articles .type-1x2x2 .article_row:last-child,
.store_categories ul:last-of-type li:last-of-type,
#idm_categories li:last-of-type a,
#idm_category .idm_category_row:last-of-type,
.sideVerticalList li:last-of-type,
#index_stats div[id*="statusReply"].status_reply,
.ipsList_withminiphoto li:last-of-type,
.member_entry:last-of-type,
.ipsList_data li:last-of-type,
#help_topics li:last-of-type,
table.ipb_table tr:last-of-type
td{border-bottom:0}.highlighted, .highlighted
.altrow{background-color:#f3f3f3}.border,
.statistics,
.post_block,
.ipsComment,
.popupInner,
.no_messages,
.poll_question ol,
.ipsBox_container,
.ipsFloatingAction,
.column_view
.post_body{background:#fff}.ipsBox_container{border:1px
solid #dcdcdc}.ipsBox{background:#eee}.ipsBox_container.moderated{background:#f8f1f3;border:1px
solid #d6b0bb}.ipsBox_notice,.ipsBox_highlight{background:#f4fcff;border-bottom:1px solid #cae9f5}.border{border:1px
solid #ccc;border-top:0}.removeDefault .ipsBox,.removeDefault.ipsBox{padding:0;background:none transparent}.removeDefault .ipsBox_container,.removeDefault.ipsBox_container{border:0}.maintitle{background:#fff;color:#666;padding:12px;font:400 14px Helvetica, Arial, sans-serif;border-bottom:1px solid #dcdcdc;-moz-border-radius:4px 4px 0 0;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;border-radius:4px 4px 0 0;overflow:hidden}h3.maintitle{font-weight:bold}.maintitle
a{color:#666}.collapsed
.maintitle{opacity:0.2;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}.collapsed .maintitle:hover{opacity:0.4}.maintitle
.toggle{visibility:hidden;background:url('http://forum_en.dev/public/style_images/chameleon/cat_minimize.png') no-repeat;text-indent:-3000em;width:32px;height:22px;margin:-5px -5px -10px 0;display:block;outline:0}.maintitle:hover
.toggle{visibility:visible}.collapsed
.toggle{background-image:url('http://forum_en.dev/public/style_images/chameleon/cat_maximize.png')}.header_left{background:url('http://forum_en.dev/public/style_images/chameleon/header_left.png') no-repeat 0 0}.header_right{background:url('http://forum_en.dev/public/style_images/chameleon/header_right.png') no-repeat 100% 0}.maintitle_base{background:#363636 url('http://forum_en.dev/public/style_images/chameleon/maintitle_base.png') repeat-x 0 0}.box .maintitle,
.maintitle_base
.maintitle{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:none transparent}a.ipsBadge:hover{color:#fff}.ipsBadge_green{background:#7ba60d}.ipsBadge_purple{background:#af286d}.ipsBadge_grey{background:#5b5b5b}.ipsBadge_lightgrey{background:#b3b3b3}.ipsBadge_orange{background:#ED7710}.ipsBadge_red{background:#bf1d00}.bar{}.bar.altbar{}.header{color:#727272;text-shadow:rgba(255,255,255,0.8) 0px 1px 0px;background:#eee url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0}.header
th{border-bottom:1px solid #e2e2e2}body .ipb_table .header a,
body .topic_options
a{color:#727272}.bbc_url,.bbc_email{color:#0f72da;text-decoration:underline}.date, .poll_question
.votes{color:#747474;font-size:11px}.no_messages{padding:15px
10px}.tab_bar{background-color:#f1f1f1;color:#818181}.tab_bar
li.active{background-color:#454545;color:#fff}.tab_bar.no_title.mini{border-bottom:8px solid #454545}.ipbmenu_content,.ipb_autocomplete{background:#fff;border:1px
solid #c6c6c6;-webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 5px;-moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 5px;box-shadow:rgba(0,0,0,0.1) 0px 1px 5px}.ipbmenu_content li, .ipb_autocomplete
li{border-bottom:1px solid #ededed}.ipb_autocomplete
li{padding:3px}.ipb_autocomplete
li.active{background:#f5f5f5}.ipbmenu_content a:hover{background:#f5f5f5}.input_submit{background:#323232 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 0;border-color:#2b2b2b;color:#fff;text-shadow:#2b2b2b 0px -1px 0px;-moz-box-shadow:rgba(0,0,0,0.43) 0px 1px 3px;-webkit-box-shadow:rgba(0,0,0,0.43) 0px 1px 3px;box-shadow:rgba(0,0,0,0.43) 0px 1px 3px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}.input_submit:hover{background-color:#434343;color:#fff}.input_submit.alt{background:#646464 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 0;border-color:#585858;color:#fff;text-shadow:#474747 0px -1px 0px;-moz-box-shadow:rgba(0,0,0,0.43) 0px 1px 3px;-webkit-box-shadow:rgba(0,0,0,0.43) 0px 1px 3px;box-shadow:rgba(0,0,0,0.43) 0px 1px 3px}.input_submit.alt:hover{background-color:#6f6f6f;color:#fff}.input_submit.delete{background:#ad2930 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 0;border-color:#962D29;color:#fff;text-shadow:#771c20 0px -1px 0px}.input_submit.delete:hover{background-color:#bf3631;color:#fff}.input_submit:active{-webkit-box-shadow:inset rgba(0,0,0,0.8) 0px 1px 3px;-moz-box-shadow:inset rgba(0,0,0,0.8) 0px 1px 3px;box-shadow:inset rgba(0,0,0,0.8) 0px 1px 3px;position:relative;top:1px}.input_submit.alt:active{-webkit-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 3px;-moz-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 3px;box-shadow:inset rgba(0,0,0,0.5) 0px 1px 3px}body#ipboard_body fieldset.submit,
body#ipboard_body p.submit,.ipsForm_submit{background:#f0f0f0 url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;border-top:1px solid #ccc}.moderated, body .moderated td, .moderated td.altrow, .post_block.moderated, .post_block.moderated .post_body,
body td.moderated, body
td.moderated{background-color:#f8f1f3}.post_block.moderated{border-color:#e9d2d7}.moderated
.row2{background-color:#f0e0e3}.moderated, .moderated
a{color:#6f3642}#header_bar{background:#323232 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 1px;padding:0;text-align:right}#admin_bar{font-size:11px;line-height:28px;padding:0
12px;background:#111 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 1px;overflow:hidden;margin-bottom:5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}#admin_bar
li{padding-left:10px;padding-right:10px}#admin_bar li.active
a{color:#fc6d35}#admin_bar
a{color:#8a8a8a}#admin_bar a:hover{color:#fff}#user_bar{background:url('http://forum_en.dev/public/style_images/chameleon/trans50.png') repeat;background:rgba(0,0,0,0.5) url("http://forum_en.dev/public/style_images/chameleon/highlight_faint.png") repeat-x 0 0;border:1px
solid #05111d;border:1px
solid rgba(0,0,0,0.4);-webkit-box-shadow:rgba(0,0,0,0.5) 0px 1px 5px;-moz-box-shadow:rgba(0,0,0,0.5) 0px 1px 5px;box-shadow:rgba(0,0,0,0.5) 0px 1px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;height:34px}#user_navigation{color:#fff;font-size:11px;line-height:34px;height:34px;overflow:hidden;float:left;text-shadow:rgba(0,0,0,0.75) 0px 1px 2px}#user_navigation
a{color:#fff;float:left;padding:0
13px;line-height:34px;outline:none;height:34px}#user_navigation a:hover{background:url("http://forum_en.dev/public/style_images/chameleon/trans20.png") repeat;background:rgba(0,0,0,0.2)}#user_navigation
.user_photo{position:relative;height:26px;width:auto;margin:-3px -9px 0px -9px}#user_navigation .ipsList_inline
li{margin:0;padding:0;float:left}#user_link_dd,.dropdownIndicator{display:inline-block;width:9px;height:5px;background:url('http://forum_en.dev/public/style_images/chameleon/header_dropdown.png') no-repeat left}#user_link_menucontent #links
li{width:50%;float:left;margin:3px
0;white-space:nowrap}#user_link_menucontent #links
a{display:block}#user_link.menu_active #user_link_dd, .menu_active .dropdownIndicator, li.active
.dropdownIndicator{background-position:right}#community_app_menu .menu_active
.dropdownIndicator{background-position:left}#community_app_menu li.active .menu_active
.dropdownIndicator{background-position:right}#user_link_menucontent
#statusForm{margin-bottom:15px}#user_link_menucontent
#statusUpdate{margin-bottom:5px}#user_link_menucontent>div{margin-left:15px;width:265px;text-align:left}#statusSubmitGlobal{margin-top:3px}#user_navigation a#user_link.menu_active,
#user_navigation a#notify_link.menu_active,
#user_navigation
a#inbox_link.menu_active{background-position:bottom;background-color:#fff;color:#323232;text-shadow:none;-moz-border-radius:3px 3px 0 0;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;border-radius:3px 3px 0 0;position:relative;z-index:10000}#notify_link,#inbox_link{vertical-align:middle;width:20px;padding:0px
8px !important;position:relative}#notify_link
img{background-image:url('http://forum_en.dev/public/style_images/chameleon/icon_notify.png')}#inbox_link
img{background-image:url('http://forum_en.dev/public/style_images/chameleon/icon_inbox.png')}#notify_link img, #inbox_link
img{width:20px;height:20px;background-repeat:no-repeat;background-position:0 0;margin-top:-2px}#notify_link.menu_active img, #inbox_link.menu_active
img{background-position:0 -20px}.services
img{position:relative;margin-top:-1px}#branding{background:url('http://forum_en.dev/public/style_images/chameleon/trans50.png') repeat;background:rgba(0,0,0,0.5) url("http://forum_en.dev/public/style_images/chameleon/highlight_faint.png") repeat-x 0 0;border:1px
solid #05111d;border:1px
solid rgba(0,0,0,0.4);-webkit-box-shadow:rgba(0,0,0,0.5) 0px 1px 5px;-moz-box-shadow:rgba(0,0,0,0.5) 0px 1px 5px;box-shadow:rgba(0,0,0,0.5) 0px 1px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;height:41px;margin-bottom:5px}#logo{float:left}#logo
a.textLogo{color:#fff;height:41px;line-height:41px;padding:0
12px;font-size:30px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;text-shadow:rgba(0,0,0,0.75) 0px 1px 2px;display:block;letter-spacing:-1px;text-decoration:none;-moz-transition:all ease-in-out 0.3s;-webkit-transition:all ease-in-out 0.3s;-o-transition:all ease-in-out 0.3s}#logo a.textLogo:hover{text-shadow:#fff 0px 0px 4px}#primary_nav{font-size:12px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;float:right;max-width:75%;text-shadow:rgba(0,0,0,0.75) 0px 1px 2px}#community_app_menu>li{margin:0;position:relative}#community_app_menu>li>a{color:#fff;display:block;outline:none;padding:0px
15px;line-height:41px;height:41px}#community_app_menu>li>a:hover,#community_app_menu>li>a.menu_active{background:url("http://forum_en.dev/public/style_images/chameleon/trans10.png") repeat;background:rgba(0,0,0,0.1);color:#fff}#community_app_menu>li.active>a{background:url("http://forum_en.dev/public/style_images/chameleon/trans20.png") repeat;background:rgba(0,0,0,0.2);color:#fff;position:relative}#primary_nav a.ipbmenu
img{margin-right:-6px}#primary_extra_menucontent,#more_apps_menucontent,.submenu_container{background:url("http://forum_en.dev/public/style_images/chameleon/trans90.png") repeat;background:rgba(0,0,0,0.9);font-size:11px;border:0;min-width:140px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-moz-border-radius:0 0 4px 4px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;border-radius:0 0 4px 4px}#primary_extra_menucontent li,
#more_apps_menucontent li, .submenu_container
li{padding:0;border:0;float:none !important;min-width:150px}#primary_extra_menucontent a,
#more_apps_menucontent a, .submenu_container
a{display:block;padding:8px
10px;color:#fff}#primary_extra_menucontent a:hover,
#more_apps_menucontent a:hover, .submenu_container a:hover{background:url("http://forum_en.dev/public/style_images/chameleon/transw10.png") repeat;background:rgba(255,255,255,0.1);color:#fff}#primary_extra_menucontent li:last-child a,
#more_apps_menucontent li:last-child
a{-moz-border-radius:0 0 4px 4px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;border-radius:0 0 4px 4px}#community_app_menu
.submenu_container{width:260px}#community_app_menu .submenu_container
li{width:260px}#secondary_navigation{background:#f5f5f5 url('http://forum_en.dev/public/style_images/chameleon/secondary_nav_bg.png') repeat-x 0 0;text-shadow:#fff 0px 1px 0px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 1px 6px rgba(0,0,0,0.65);-moz-box-shadow:0px 1px 6px rgba(0,0,0,0.65);box-shadow:0px 1px 6px rgba(0,0,0,0.65);overflow:hidden;line-height:37px;margin-bottom:15px}#secondary_navigation
a{color:#757575;line-height:37px;height:37px}#secondary_navigation a:hover{color:#222}#secondary_navigation #breadcrumb
li{float:left}#secondary_navigation #breadcrumb li
a{padding-left:12px;margin-left:-15px;background:url('http://forum_en.dev/public/style_images/chameleon/secondary_nav.png') no-repeat 0 0;display:block;outline:none;text-decoration:none}#secondary_navigation #breadcrumb li.first
a{margin-left:0;background:none;padding-left:0px}#secondary_navigation #breadcrumb li
span{display:block;padding-right:17px;padding-left:4px;background:url('http://forum_en.dev/public/style_images/chameleon/secondary_nav.png') no-repeat 100% 0}#secondary_navigation #breadcrumb li>span{padding-left:4px;background:none transparent}#secondary_navigation #breadcrumb li.first a
span{padding-left:12px;-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius:5px 0px 0px 5px;border-radius:5px 0px 0px 5px}#secondary_navigation #breadcrumb li a:hover{background-position:0 -43px}#secondary_navigation #breadcrumb li a:hover
span{background-position:100% -43px}#secondary_navigation #breadcrumb li a:active{background-position:0 -86px}#secondary_navigation #breadcrumb li a:active
span{background-position:100% -86px}#secondary_links{overflow:hidden}#secondary_links
li{float:left;margin:0}#secondary_links
a{padding:0
12px;display:block}#secondary_links
img{vertical-align:top;width:16px;height:16px;position:relative;margin:10px
-4px 0 -4px}#secondary_links a:hover
img{opacity:0.7}.breadcrumb{color:#777;font-size:11px}.breadcrumb
a{color:#777}.breadcrumb li
.nav_sep{margin:0
5px 0 0}.breadcrumb li:first-child{margin-left:0}.breadcrumb.bottom{margin-top:10px;width:100%;display:none}.ipsHeaderMenu{background:#fff;padding:10px;-moz-border-radius:0 0 6px 6px;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;border-radius:0 0 6px 6px;overflow:hidden;width:340px}.ipsHeaderMenu.boxShadow{-webkit-box-shadow:rgba(0,0,0,0.4) 0px 0px 10px;-moz-box-shadow:rgba(0,0,0,0.4) 0px 0px 10px;box-shadow:rgba(0,0,0,0.4) 0px 0px 10px}.ipsHeaderMenu
.ipsType_sectiontitle{margin-bottom:8px}#user_notifications_link_menucontent.ipsHeaderMenu,#user_inbox_link_menucontent.ipsHeaderMenu{width:300px}#search{margin:4px
4px 0 0}#main_search{font-size:12px;border:0;padding:0;background:transparent;width:138px;outline:0}#main_search.inactive{color:#bcbcbc}#search_wrap{position:relative;background:#fff;display:block;padding:0
26px 0 4px;height:26px;line-height:25px;-moz-border-radius:3px 4px 4px 3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:3px;border-radius:3px 4px 4px 3px;-webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.2);-moz-box-shadow:0px 2px 4px rgba(0,0,0,0.2);box-shadow:0px 2px 4px rgba(0,0,0,0.2);min-width:230px}#adv_search{width:26px;height:26px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:url('http://forum_en.dev/public/style_images/chameleon/advanced_search.png') no-repeat 50% 50%;text-indent:-3000em;display:inline-block;margin-left:3px}#adv_search:hover{background-color:rgba(255,255,255,0.1)}#search
.submit_input{background:#96ad5c url('http://forum_en.dev/public/style_images/chameleon/search_icon.png') no-repeat 50%;text-indent:-3000em;padding:0;border:0;display:block;width:26px;height:26px;position:absolute;right:0;top:0;bottom:0;-moz-border-radius:0 3px 3px 0;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;border-radius:0 3px 3px 0;-webkit-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2);-moz-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2);box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2)}#search .submit_input:hover{background-color:#a0b669}#search_options{max-width:80px;text-overflow:ellipsis;overflow:hidden;font-size:10px;height:20px;line-height:20px;margin:3px
3px 3px 0;padding:0
6px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#eaeaea url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 1px;display:inline-block;text-shadow:#fff 0px 1px 0px;float:right}#search_options_menucontent{min-width:130px;padding:0;background:#fff;border:1px
solid #c6c6c6}#search_options_menucontent
input{margin-right:10px}#search_options_menucontent
li{border-bottom:1px solid #ededed;white-space:nowrap}#search_options_menucontent li:last-of-type{border-bottom:0}#search_options_menucontent label:hover{background:#f5f5f5}#search_options_menucontent
label{cursor:pointer;display:block;padding:0
6px}#search_options_menucontent
li.title{padding:3px
6px}#backtotop,#bottomScroll{width:24px;height:24px;line-height:20px;left:50%;top:50%;margin-left:-12px;margin-top:-12px;position:absolute;display:inline-block;background:#000;-webkit-box-shadow:inset rgba(0,0,0,0.7) 0px 1px 3px;-moz-box-shadow:inset rgba(0,0,0,0.7) 0px 1px 3px;box-shadow:inset rgba(0,0,0,0.7) 0px 1px 3px;text-align:center;-moz-border-radius:16px;-webkit-border-radius:16px;border-radius:16px;opacity:0.4;outline:0}#bottomScroll:hover,#backtotop:hover{background:#000;color:#fff;opacity:1}#footer_utilities{padding:8px;position:relative;background:url('http://forum_en.dev/public/style_images/chameleon/trans50.png') repeat;background:rgba(0,0,0,0.5);color:#fff;text-shadow:rgba(0,0,0,0.8) 0px -1px 0px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-right:3px;-webkit-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;-moz-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px}#footer_utilities
a{color:#fff}#footer_utilities
.ipsList_inline{margin-top:3px;clear:left;float:left}#footer_utilities .ipsList_inline>li{margin:0}#footer_utilities .ipsList_inline>li>a{margin-right:0px;padding:4px
10px;display:inline-block}#footer_utilities
a.menu_active{background:url('http://forum_en.dev/public/style_images/chameleon/trans30.png') repeat;background:rgba(0,0,0,0.3);color:#fff;text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5), rgba(255,255,255,0.16) 0px 1px 0px, rgba(255,255,255,0.05) 0px 0px 0px 1px;-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5), rgba(255,255,255,0.16) 0px 1px 0px, rgba(255,255,255,0.05) 0px 0px 0px 1px;box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5), rgba(255,255,255,0.16) 0px 1px 0px, rgba(255,255,255,0.05) 0px 0px 0px 1px}#footer_utilities .ipbmenu_content
a{color:#333 !important;text-shadow:none !important}#copyright{color:#fff;text-align:right;line-height:22px;float:right}#copyright
a{color:#fff}#ipsDebug_footer{width:900px;margin:8px
auto 0px auto;text-align:center;color:#404040;font-size:11px}#ipsDebug_footer
strong{margin-left:20px}#ipsDebug_footer
a{color:#404040}#rss_menu{background-color:#fef3d7;border:1px
solid #ed7710}#rss_menu
li{border-bottom:1px solid #fce19b}#rss_menu li:last-of-type{border-bottom:0}#rss_menu
a{color:#ed7710;padding:5px
8px;text-shadow:none}#rss_menu a:hover{background-color:#ed7710;color:#fff}.ipsUserPhoto{padding:1px;border:1px
solid #d5d5d5;background:#fff;-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.1);-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.1);box-shadow:0px 2px 2px rgba(0,0,0,0.1)}.ipsUserPhotoLink:hover
.ipsUserPhoto{border-color:#a1a1a1;-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);box-shadow:0px 2px 2px rgba(0,0,0,0.2)}.ipsUserPhoto_variable{max-width:155px}.ipsUserPhoto_large{max-width:90px;max-height:90px}.ipsUserPhoto_medium{width:50px;height:50px}.ipsUserPhoto_mini{width:30px;height:30px}.ipsUserPhoto_tiny{width:20px;height:20px}.ipsUserPhoto_icon{width:16px;height:16px}.general_box{}.general_box
.none{color:#bcbcbc}.general_box.poll{margin:0;border-width:0 0 1px 0}.ipsBox,.ipsPad{padding:9px}.ipsPad_double{padding:9px
19px}.ipsBox_withphoto{margin-left:65px}.ipsBox_notice{padding:10px;line-height:1.6;margin-bottom:10px}.ipsBox_container
.ipsBox_notice{margin:-10px -10px 10px -10px}.ipsPad_half{padding:4px
!important}.ipsPad_left{padding-left:9px}.ipsPad_top{padding-top:9px}.ipsPad_top_slimmer{padding-top:7px}.ipsPad_top_half{padding-top:4px}.ipsPad_top_bottom{padding-top:9px;padding-bottom:9px}.ipsPad_top_bottom_half{padding-top:4px;padding-bottom:4px}.ipsMargin_top{margin-top:9px}.ipsBlendLinks_target
.ipsBlendLinks_here{opacity:0.5;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.2s ease-in-out}.ipsBlendLinks_target:hover
.ipsBlendLinks_here{opacity:1}.block_list>li{padding:5px
10px}.ipsModMenu{width:15px;height:15px;display:inline-block;text-indent:-2000em;background:url('http://forum_en.dev/public/style_images/chameleon/moderation_cog.png') no-repeat;margin-right:5px;vertical-align:middle}.ipsBadge{vertical-align:middle;display:inline-block;height:15px;line-height:15px;padding:0
5px;font-size:9px;font-weight:bold;text-transform:uppercase;color:#fff;text-shadow:rgba(0,0,0,0.2) 0px -1px 0px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-image:url('http://forum_en.dev/public/style_images/chameleon/highlight.png');background-repeat:repeat-x;background-position:0 -1px}.ipsBadge.has_icon
img{max-height:7px;vertical-align:baseline}#nav_app_ipchat
.ipsBadge{position:absolute}#ajax_loading{background:#000;color:#fff;text-align:center;padding:5px
0 8px;width:8%;top:0px;left:46%;-moz-border-radius:0 0 5px 5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;border-radius:0 0 5px 5px;z-index:10000;position:fixed;-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.2);-webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.2);box-shadow:0px 3px 5px rgba(0,0,0,0.2);opacity:0.6}#ipboard_body.redirector{width:500px;margin:150px
auto 0 auto}#ipboard_body.minimal{padding-top:40px}#ipboard_body.minimal
#ipbwrapper{width:900px;margin:0
auto}#ipboard_body.minimal
#content{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:20px
30px;margin-bottom:10px}#ipboard_body.minimal
h1{color:#fff;font-size:32px}#ipboard_body.minimal
.ipsType_pagedesc{color:#fff;font-size:16px}.progress_bar{background-color:#fff;border:1px
solid #838383}.progress_bar
span{background:#838383 url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;color:#fff;font-size:0em;font-weight:bold;text-align:center;text-indent:-2000em;height:10px;display:block;overflow:hidden}.progress_bar.limit
span{background:#b13c3c url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0}.progress_bar span
span{display:none}.progress_bar.user_warn{margin:0
auto;width:80%}.progress_bar.user_warn
span{height:6px}.progress_bar.topic_poll{margin-top:2px;width:40%}li.rating
a{outline:0}.antispam_img{margin:0
3px 5px 0}span.error{color:#ad2930;font-weight:bold;clear:both}#recaptcha_widget_div{max-width:350px}#recaptcha_table{border:0
!important}.mediatag_wrapper{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}.mediatag_wrapper iframe,
.mediatag_wrapper object,
.mediatag_wrapper
embed{position:absolute;top:0;left:0;width:100%;height:100%}.tab_filters ul, .tab_filters li, fieldset.with_subhead span.desc, fieldset.with_subhead label,.user_controls
li{display:inline}.right{float:right}.left{float:left}.hide{display:none}.short{text-align:center}.clear{clear:both}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}.faded{opacity:0.5}.clickable{cursor:pointer}.reset_cursor{cursor:default}.bullets ul, .bullets ol,ul.bullets,ol.bullets{list-style:disc;margin-left:30px;line-height:150%;list-style-image:none}.bullets
li{padding:2px}#user_navigation #new_msg_count,.rounded{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.desc, .desc.blend_links a,p.posted_info{font-size:11px;color:#777}.desc.lighter, .desc.lighter.blend_links
a{color:#a4a4a4}.cancel{font-size:0.9em;font-weight:bold}.cancel,.cancel:hover{color:#ad2930}em.moderated{font-size:11px;font-style:normal;font-weight:bold}.positive{color:#6f8f52}.negative{color:#c7172b}.searchlite{background-color:yellow;color:red;font-size:14px}.activeuserposting{font-style:italic}.col_f_post{width:250px !important}.is_mod
.col_f_post{width:210px !important}td.col_c_post{padding-top:10px !important;width:250px}.col_f_icon{padding:0
0 0 3px !important;width:24px !important;text-align:center;vertical-align:middle}.col_n_icon{vertical-align:middle;width:24px;padding:0
!important}.col_f_views,.col_m_replies{width:100px !important;text-align:right;white-space:nowrap}.col_f_mod,.col_m_mod,.col_n_mod{width:40px;text-align:right}.col_f_preview{width:20px !important;text-align:right}.col_c_icon{padding:10px
5px 10px 5px !important;width:30px;vertical-align:middle}.col_c_post
.ipsUserPhoto{margin-top:3px}.col_n_date{width:250px}.col_m_photo,.col_n_photo{width:30px}.col_m_mod{text-align:right}.col_r_icon{width:3%}.col_f_topic,.col_m_subject{width:49%}.col_f_starter,.col_r_total,.col_r_comments{width:10%}.col_m_date,.col_r_updated,.col_r_section{width:18%}.col_c_stats{width:15%;text-align:right}.col_c_forum{width:auto}.col_mod,.col_r_mod{width:3%}.col_r_title{width:26%}table.ipb_table{width:100%;line-height:1.3}table.ipb_table
td{padding:10px}table.ipb_table tr.unread
h4{font-weight:bold}table.ipb_table tr.highlighted
td{border-bottom:0}table.ipb_table
th{font-size:11px;font-weight:bold;padding:8px
6px}.last_post{margin-left:45px}.last_post, .col_c_stats, .col_f_views, .line_height, .ipsList_withminiphoto
.list_content{line-height:18px}#user_notifications_link_menucontent
.list_content{line-height:130%}.col_c_post
.ipsUserPhotoLink{margin-top:-1px}.forum_desc{padding-top:5px}table.ipb_table h4,
table.ipb_table
.topic_title{font-size:12px;display:inline-block}table.ipb_table  .unread
.topic_title{font-weight:bold}table.ipb_table
.ipsModMenu{visibility:hidden}table.ipb_table tr:hover .ipsModMenu, table.ipb_table tr
.ipsModMenu.menu_active{visibility:visible}#announcements
h4{display:inline}#announcements
td{}.announcement
img{margin-right:4px}.forum_data{font-size:11px;color:#5c5c5c;display:inline-block;white-space:nowrap;margin:0px
0 0 8px}.desc_more{background:url('http://forum_en.dev/public/style_images/chameleon/desc_more.png') no-repeat top;display:inline-block;width:13px;height:13px;text-indent:-2000em}.desc_more:hover{background-position:bottom}.category_block .ipb_table
h4{}table.ipb_table
.subforums{margin:7px
0 3px 0px;overflow:hidden}table.ipb_table .subforums
li{background:url('http://forum_en.dev/public/style_images/chameleon/subforum_nonew.png') no-repeat 0 50%;padding:0
15px 0 15px;margin:0;float:left}table.ipb_table .subforums
li.unread{font-weight:bold;background-image:url('http://forum_en.dev/public/style_images/chameleon/subforum_new.png')}table.ipb_table
.expander{visibility:hidden;width:16px;height:16px;display:inline-block}table.ipb_table tr:hover
.expander{visibility:visible;opacity:0.2}table.ipb_table
td.col_f_preview{cursor:pointer}table.ipb_table tr td:hover .expander,.expander.open,.expander.loading{visibility:visible !important;opacity:1}table.ipb_table
.expander.closed{background:url('http://forum_en.dev/public/style_images/chameleon/icon_expand_close.png') no-repeat 0 0}table.ipb_table
.expander.open{background:url('http://forum_en.dev/public/style_images/chameleon/icon_expand_close.png') no-repeat 0 -19px}table.ipb_table
.expander.loading{background:url('http://forum_en.dev/public/style_images/chameleon/loading.gif') no-repeat}table.ipb_table .preview
td{padding:20px
10px 20px 29px;z-index:20000;border-top:0}table.ipb_table .preview td>div{line-height:1.4;position:relative}table.ipb_table .preview
td{-webkit-box-shadow:0px 4px 5px rgba(0,0,0,0.15);-moz-box-shadow:0px 4px 5px rgba(0,0,0,0.15);box-shadow:0px 4px 5px rgba(0,0,0,0.15)}.preview_col{margin-left:80px}.preview_info{padding-bottom:3px;margin:-3px 0 3px}table.ipb_table
.mini_pagination{opacity:0.5}table.ipb_table tr:hover
.mini_pagination{opacity:1}.ipsLayout.ipsLayout_withleft{padding-left:210px}.ipsBox.ipsLayout.ipsLayout_withleft{padding-left:220px}.ipsLayout.ipsLayout_withright{padding-right:210px;clear:left}.ipsBox.ipsLayout.ipsLayout_withright{padding-right:220px}.ipsLayout_content, .ipsLayout .ipsLayout_left,.ipsLayout_right{position:relative}.ipsLayout_content{width:100%;float:left}.ipsLayout_content
img{max-width:100%}.ipsLayout
.ipsLayout_left{width:200px;margin-left:-210px;float:left}.ipsLayout
.ipsLayout_right{width:200px;margin-right:-210px;float:right}.ipsLayout_largeleft.ipsLayout_withleft{padding-left:280px}.ipsBox.ipsLayout_largeleft.ipsLayout_withleft{padding-left:290px}.ipsLayout_largeleft.ipsLayout
.ipsLayout_left{width:270px;margin-left:-280px}.ipsLayout_largeright.ipsLayout_withright{padding-right:280px}.ipsBox.ipsLayout_largeright.ipsLayout_withright{padding-right:290px}.ipsLayout_largeright.ipsLayout
.ipsLayout_right{width:270px;margin-right:-280px}.ipsLayout_smallleft.ipsLayout_withleft{padding-left:150px}.ipsBox.ipsLayout_smallleft.ipsLayout_withleft{padding-left:160px}.ipsLayout_smallleft.ipsLayout
.ipsLayout_left{width:140px;margin-left:-150px}.ipsLayout_smallright.ipsLayout_withright{padding-right:150px}.ipsBox.ipsLayout_smallright.ipsLayout_withright{padding-right:160px}.ipsLayout_smallright.ipsLayout
.ipsLayout_right{width:140px;margin-right:-150px}.ipsLayout_tinyleft.ipsLayout_withleft{padding-left:40px}.ipsBox.ipsLayout_tinyleft.ipsLayout_withleft{padding-left:50px}.ipsLayout_tinyleft.ipsLayout
.ipsLayout_left{width:40px;margin-left:-40px}.ipsLayout_tinyright.ipsLayout_withright{padding-right:40px}.ipsBox.ipsLayout_tinyright.ipsLayout_withright{padding-right:50px}.ipsLayout_tinyright.ipsLayout
.ipsLayout_right{width:40px;margin-right:-40px}.ipsLayout_bigleft.ipsLayout_withleft{padding-left:330px}.ipsBox.ipsLayout_bigleft.ipsLayout_withleft{padding-left:340px}.ipsLayout_bigleft.ipsLayout
.ipsLayout_left{width:320px;margin-left:-330px}.ipsLayout_bigright.ipsLayout_withright{padding-right:330px}.ipsBox.ipsLayout_bigright.ipsLayout_withright{padding-right:340px}.ipsLayout_bigright.ipsLayout
.ipsLayout_right{width:320px;margin-right:-330px}.ipsLayout_hugeleft.ipsLayout_withleft{padding-left:380px}.ipsBox.ipsLayout_hugeleft.ipsLayout_withleft{padding-left:390px}.ipsLayout_hugeleft.ipsLayout
.ipsLayout_left{width:370px;margin-left:-380px}.ipsLayout_hugeright.ipsLayout_withright{padding-right:380px}.ipsBox.ipsLayout_hugeright.ipsLayout_withright{padding-right:390px}.ipsLayout_hugeright.ipsLayout
.ipsLayout_right{width:370px;margin-right:-380px}.ipsField
.ipsField_title{font-weight:bold;font-size:12px;line-height:1.6}.ipsForm_required{color:#ab1f39;font-weight:bold}.ipsForm_horizontal
.ipsField_title{float:left;width:185px;padding-right:15px;padding-top:3px;text-align:right;line-height:1.8}.ipsForm_horizontal
.ipsField{margin-bottom:15px}.ipsForm_horizontal .ipsField_content, .ipsForm_horizontal
.ipsField_submit{margin-left:200px}.ipsForm_horizontal
.ipsField_checkbox{margin:0
0 5px 200px}.ipsForm_horizontal .ipsField_select
.ipsField_title{line-height:1.6}.ipsForm_vertical
.ipsField{margin-bottom:10px}.ipsForm_vertical
.ipsField_content{margin-top:3px}.ipsForm .ipsField_checkbox
.ipsField_content{margin-left:25px}.ipsForm .ipsField_checkbox
input{float:left;margin-top:3px}.ipsField_primary
input{font-size:18px}.ipsForm_submit{padding:5px
10px;text-align:right;margin-top:25px}.ipsForm_right{text-align:right}.ipsForm_left{text-align:left}.ipsForm_center{text-align:center}.ipsSettings_pagetitle{font-size:20px;margin-bottom:5px}.ipsSettings{padding:0
0px}.ipsSettings_section{margin:0
0 15px 0;padding:15px
0 0 0}.ipsSettings_section>div{margin-left:175px}.ipsSettings_section > div ul
li{margin-bottom:10px}.ipsSettings_section
.desc{margin-top:3px}.ipsSettings_sectiontitle{font:bold 13px Helvetica,Arial,sans-serif;width:165px;padding-left:10px;line-height:18px;float:left}.ipsSettings_fieldtitle{min-width:100px;margin-right:10px;font-size:14px;display:inline-block;vertical-align:top;padding-top:3px}.ipsTooltip{padding:5px;z-index:25000}.ipsTooltip_inner{padding:8px;background:#222;border:1px
solid #222;color:#fff;-webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;-moz-box-shadow:0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;box-shadow:0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-size:12px;text-align:center;max-width:250px}.ipsTooltip_inner
a{color:#fff}.ipsTooltip_inner
span{font-size:11px;color:#d2d2d2}.ipsTooltip.top{background:url('http://forum_en.dev/public/style_images/chameleon/stems/tooltip_top.png') no-repeat bottom center}.ipsTooltip.top_left{background-position:bottom left}.ipsTooltip.bottom{background:url('http://forum_en.dev/public/style_images/chameleon/stems/tooltip_bottom.png') no-repeat top center}.ipsTooltip.left{background:url('http://forum_en.dev/public/style_images/chameleon/stems/tooltip_left.png') no-repeat center right}.ipsTooltip.right{background:url('http://forum_en.dev/public/style_images/chameleon/stems/tooltip_right.png') no-repeat center left}.ipsHasNotifications{padding:0px
4px;height:12px;line-height:12px;background:#cf2020;color:#fff !important;font-size:9px;text-align:center;-webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;-moz-box-shadow:0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;box-shadow:0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;position:absolute;top:4px;left:3px}.ipsHasNotifications_blank{display:none}#chat-tab-count.ipsHasNotifications{left:auto;top:3px;right:3px;text-shadow:none !important;position:absolute}.ipsSideMenu{padding:10px
0}.ipsSideMenu
h4{margin:0
10px 5px 25px;font-weight:bold;color:#383838}.ipsSideMenu
ul{margin-bottom:20px}.ipsSideMenu ul
li{font-size:11px}.ipsSideMenu ul li
a{padding:5px
10px 5px 25px;display:block}.ipsSideMenu ul li a:hover{background-color:rgba(0,0,0,0.03)}.ipsSideMenu ul li.active
a{background:#6b6b6b url('http://forum_en.dev/public/style_images/chameleon/icon_check_white.png') no-repeat 6px 8px;color:#fff;font-weight:bold}.ipsSteps{background:#f3f3f3;height:55px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.ipsSteps li:first-child{-webkit-border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius:3px 0px 0px 3px;border-radius:3px 0px 0px 3px}.ipsSteps ul
li{float:left;padding:11px
33px 5px 18px;color:#323232;background-image:url('http://forum_en.dev/public/style_images/chameleon/wizard_step.png');background-repeat:no-repeat;background-position:100% -56px;position:relative;height:39px;text-shadow:rgba(255,255,255,0.6) 0px 1px 0px}.ipsSteps
.ipsSteps_active{background-position:100% 0}.ipsSteps
.ipsSteps_done{}.ipsSteps_desc{font-size:11px}.ipsSteps_arrow{display:none}.ipsSteps_title{display:block;font-size:14px;padding-bottom:4px}.ipsSteps_active
.ipsSteps_arrow{display:block;position:absolute;left:-23px;top:0;width:23px;height:55px;background:url('http://forum_en.dev/public/style_images/chameleon/wizard_step.png') no-repeat 0 -112px}.ipsSteps ul li:first-child
.ipsSteps_arrow{display:none !important}.ipsVerticalTabbed{}.ipsVerticalTabbed_content{min-height:400px}.ipsVerticalTabbed_tabs>ul{width:149px !important;margin-top:10px;border-top:1px solid #dcdcdc;border-left:1px solid #dcdcdc}.ipsVerticalTabbed_minitabs.ipsVerticalTabbed_tabs>ul{width:40px !important}.ipsVerticalTabbed_tabs
li{background:#f8f8f8;color:#808080;border-bottom:1px solid #dcdcdc;font-size:12px}.ipsVerticalTabbed_tabs li
a{display:block;padding:10px
8px;outline:0;color:#8d8d8d}.ipsVerticalTabbed_tabs li a:hover{background:#f2f2f2;color:#808080}.ipsVerticalTabbed_tabs li.active
a{width:135px;position:relative;z-index:8000;background:#fff;color:#353535;font-weight:bold}.ipsVerticalTabbed_minitabs.ipsVerticalTabbed_tabs li.active
a{width:24px}.ipsLikeBar{margin:10px
0;font-size:11px}.ipsLikeBar_info{line-height:22px;background:#f4f4f4;padding:0
10px;display:inline-block;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}.ipsLikeButton{line-height:20px;padding:0
6px 0 25px;font-size:11px;display:inline-block;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;text-shadow:rgba(0,0,0,0.2) 0px -1px 0px;color:#fff !important}.ipsLikeButton:hover{color:#fff !important}.ipsLikeButton.ipsLikeButton_enabled{background:#69af31 url('http://forum_en.dev/public/style_images/chameleon/like_button.png') no-repeat 0 0;border:1px
solid #2b2b2b}.ipsLikeButton.ipsLikeButton_disabled{background:#b8b8b8 url('http://forum_en.dev/public/style_images/chameleon/like_button.png') no-repeat 0 -23px;border:1px
solid #a4a4a4}.ipsTag{display:inline-block;background:url('http://forum_en.dev/public/style_images/chameleon/tag_bg.png');height:20px;line-height:20px;padding:0
7px 0 15px;margin:5px
5px 0 0;font-size:11px;color:#fff !important;text-shadow:0 -1px 0 rgba(0,0,0,0.4);-moz-border-radius:0 3px 3px 0;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;border-radius:0 3px 3px 0}.ipsTagBox_wrapper{min-height:18px;width:350px;line-height:1.3;display:inline-block;margin-bottom:3px}.ipsTagBox_hiddeninput{background:none transparent}.ipsTagBox_hiddeninput.inactive{font-size:11px;min-width:200px}.ipsTagBox_wrapper
input{border:0px;outline:0}.ipsTagBox_wrapper
li{display:inline-block}.ipsTagBox_wrapper.with_prefixes li.ipsTagBox_tag:first-child{background:#dbf3ff;border-color:#a8e3ff;color:#136db5}.ipsTagBox_tag{padding:2px
1px 2px 4px;background:#f4f4f4;border:1px
solid #ddd;margin:0
3px 2px 0;font-size:11px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;cursor:pointer}.ipsTagBox_tag:hover{border-color:#bdbdbd}.ipsTagBox_tag.selected{background:#e2e2e2 !important;border-color:#c0c0c0 !important;color:#424242 !important}.ipsTagBox_closetag{margin-left:2px;display:inline-block;padding:0
3px;color:#c7c7c7;font-weight:bold}.ipsTagBox_closetag:hover{color:#454545}.ipsTagBox_tag.selected
.ipsTagBox_closetag{color:#424242}.ipsTagBox_tag.selected .ipsTagBox_closetag:hover{color:#2f2f2f}.ipsTagBox_wrapper.with_prefixes li.ipsTagBox_tag:first-child
.ipsTagBox_closetag{color:#4f87bb}.ipsTagBox_wrapper.with_prefixes li.ipsTagBox_tag:first-child .ipsTagBox_closetag:hover{color:#003b71}.ipsTagBox_addlink{font-size:10px;margin-left:3px;outline:0}.ipsTagBox_dropdown{height:100px;overflow:scroll;background:#fff;border:1px
solid #ddd;-webkit-box-shadow:0px 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0px 5px 10px rgba(0,0,0,0.2);box-shadow:0px 5px 10px rgba(0,0,0,0.2);z-index:16000}.ipsTagBox_dropdown
li{padding:4px;font-size:12px;cursor:pointer}.ipsTagBox_dropdown li:hover{background:#dbf3ff;color:#003b71}.ipsTagWeight_1{opacity:1.0}.ipsTagWeight_2{opacity:0.9}.ipsTagWeight_3{opacity:0.8}.ipsTagWeight_4{opacity:0.7}.ipsTagWeight_5{opacity:0.6}.ipsTagWeight_6{opacity:0.5}.ipsTagWeight_7{opacity:0.4}.ipsTagWeight_8{opacity:0.3}.ipsFilterbar
li{margin:0px
15px 0px 0;font-size:11px}.ipsFilterbar li
a{color:#333;opacity:0.5;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;line-height:14px}.ipsFilterbar.bar.altbar li
a{color:#244156;text-shadow:none;opacity: .8}.ipsFilterbar:hover li
a{opacity:0.8}.ipsFilterbar li a:hover{opacity:1}.ipsFilterbar li
img{margin-top:-3px}.ipsFilterbar
li.active{opacity:1}.ipsFilterbar li.active a, .ipsFilterbar.bar.altbar li.active
a{background:url('http://forum_en.dev/public/style_images/chameleon/trans50.png') repeat;background:rgba(0,0,0,0.5);opacity:1;color:#fff;padding:4px
10px;font-weight:bold;-moz-border-radius:10px;-webkit-border-radius:10px !important;border-radius:10px;-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5), rgba(255,255,255,0.16) 0px 1px 0px, rgba(255,255,255,0.05) 0px 0px 0px 1px;-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5), rgba(255,255,255,0.16) 0px 1px 0px, rgba(255,255,255,0.05) 0px 0px 0px 1px;box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5), rgba(255,255,255,0.16) 0px 1px 0px, rgba(255,255,255,0.05) 0px 0px 0px 1px}.ipsPostForm{}.ipsPostForm.ipsLayout_withright{padding-right:260px !important}.ipsPostForm
.ipsLayout_content{z-index:900;-webkit-box-shadow:2px 0px 4px rgba(0,0,0,0.1);-moz-box-shadow:2px 0px 4px rgba(0,0,0,0.1);box-shadow:2px 0px 4px rgba(0,0,0,0.1);float:none}.ipsPostForm
.ipsLayout_right{width:250px;margin-right:-251px;border-left:0;z-index:800}.ipsPostForm_sidebar{margin-top:8px}.ipsPostForm_sidebar .ipsPostForm_sidebar_block.closed
h3{background-image:url('http://forum_en.dev/public/style_images/chameleon/folder_closed.png');background-repeat:no-repeat;background-position:10px 9px;padding-left:26px;margin-bottom:2px}.ipsMemberList
.ipsButton_secondary{opacity:0.3}.ipsMemberList li:hover .ipsButton_secondary, .ipsMemberList tr:hover
.ipsButton_secondary{opacity:1}.ipsMemberList li
.reputation{margin:5px
10px 0 0}.ipsMemberList > li
.ipsButton_secondary{margin-top:15px}.ipsMemberList li
.rating{display:inline}.ipsComment_wrap{margin-top:10px}.border>.ipsComment_wrap,.ipsBox_container>.ipsComment_wrap{margin:0}.ipsComment_wrap
.ipsLikeBar{margin:0}.ipsComment_wrap input[type='checkbox']{vertical-align:middle}.ipsComment{padding:10px}.ipsComment_author,.ipsComment_reply_user{width:160px;text-align:right;padding:0
10px;float:left;line-height:1.3}.ipsComment_author
.ipsUserPhoto{margin-bottom:5px}.ipsComment_comment{margin-left:190px !important;line-height:1.5}.ipsComment_comment>div{min-height:33px}.ipsComment_controls{margin-top:10px}.ipsComment_controls>li{opacity:0.2}.ipsComment:hover .ipsComment_controls > li, .ipsComment .ipsComment_controls>li.right{opacity:1}.ipsComment_reply_user_photo{margin-left:115px}.ipsFloatingAction{position:fixed;right:10px;bottom:10px;padding:10px;z-index:15000;border:4px
solid #464646;border:4px
solid rgba(0,0,0,0.75);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0px 3px 6px rgba(0,0,0,0.4);-webkit-box-shadow:0px 3px 6px rgba(0,0,0,0.4);box-shadow:0px 3px 6px rgba(0,0,0,0.4)}.ipsFloatingAction.left{right:auto;left:10px}.ipsFloatingAction
.fixed_inner{overflow-y:auto;overflow-x:hidden}#seoMetaTagEditor{width:480px}#seoMetaTagEditor
table{width:450px}#seoMetaTagEditor table
td{width:50%;padding-right:0px}body#ipboard_body fieldset.submit,
body#ipboard_body
p.submit{padding:15px
6px 15px 6px;text-align:center}.iframe{outline:none}.input_text,.ipsTagBox_wrapper,textarea{padding:6px;border:1px
solid #d4d4d4;background:#fcfcfc;color:#9f9f9f;text-shadow:#fff 0px 1px 0px;-webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;-moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px}textarea:focus,.input_text:focus{outline:none;background-color:#fefefe;color:#555;border-color:#afd6ea;-webkit-box-shadow:inset 0px 0px 4px #bce6fb, #ddf4ff 0px 0px 3px;-moz-box-shadow:inset 0px 0px 4px #bce6fb, #ddf4ff 0px 0px 3px;box-shadow:inset 0px 0px 4px #bce6fb, #ddf4ff 0px 0px 3px}input.inactive,select.inactive,textarea.inactive{color:#c4c4c4}.input_text.error{background:#f3dddd;border-color:#c98282;color:#ad2930;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.input_text.accept{background:#f1f6ec;border-color:#cddac0;color:#456d1d;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}input:-webkit-input-placeholder{color:#bbb}input:-moz-placeholder{color:#bbb}.input_submit{text-decoration:none;border-width:1px;border-style:solid;padding:4px
10px;cursor:pointer}a.input_submit{padding:6px
10px;display:inline-block}.input_submit.alt{text-decoration:none}p.field{padding:15px}li.field{padding:5px;margin-left:5px}li.field label,
li.field
span.desc{display:block}li.field.error{color:#ad2930}li.field.error
label{font-weight:bold}li.field.checkbox,li.field.cbox{margin-left:0}li.field.checkbox .input_check,
li.field.checkbox .input_radio,
li.field.cbox .input_check,
li.field.cbox
.input_radio{margin-right:10px;vertical-align:middle}li.field.checkbox label,
li.field.cbox
label{width:auto;float:none;display:inline}li.field.checkbox p,
li.field.cbox
p{position:relative;left:245px;display:block}li.field.checkbox span.desc,
li.field.cbox
span.desc{padding-left:27px;margin-left:auto;display:block}.message{background:#cde3a4 url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;padding:10px;border:1px
solid #a8c471;text-shadow:rgba(255,255,255,0.55) 0px 1px 0px;line-height:1.6;font-size:12px;-webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;-moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;box-shadow:rgba(0,0,0,0.1) 0px 1px 3px}.message,
.message a,
.message
h3{color:#436500}.message
h3{padding:0}.message.error{background-color:#f3e3e6;border-color:#e599aa}.message.error,
.message.error a,
.message.error
h3{color:#80001c}.message.error.usercp{background-image:none;padding:4px;float:right}.message.unspecific{background-color:#f3f3f3;border-color:#d4d4d4;color:#515151;margin:0
0 10px 0;clear:both}.message.unspecific,
.message.unspecific a,
.message.unspecific
h3{color:#515151}.message
a{text-decoration:underline}.ipbmenu_content,.ipb_autocomplete{min-width:85px;z-index:2000}.ipbmenu_content{white-space:nowrap}.ipbmenu_content li:last-child{border-bottom:0;padding-bottom:0px}.ipbmenu_content li:first-child{padding-top:0px}.ipbmenu_content.with_checks
a{padding-left:26px}.ipbmenu_content a
.icon{margin-right:10px}.ipbmenu_content
a{text-decoration:none;text-align:left;display:block;padding:6px
10px}.ipbmenu_content.with_checks li.selected
a{background-image:url('http://forum_en.dev/public/style_images/chameleon/icon_check.png');background-repeat:no-repeat;background-position:7px 10px}.popupWrapper{background:url('http://forum_en.dev/public/style_images/chameleon/trans60.png') repeat;background:rgba(0,0,0,0.6);padding:8px;-webkit-box-shadow:rgba(0,0,0,0.5) 0px 10px 20px;-moz-box-shadow:rgba(0,0,0,0.5) 0px 10px 20px;box-shadow:rgba(0,0,0,0.5) 0px 10px 20px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.popupInner{width:500px;overflow:auto;-webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.4);-moz-box-shadow:0px 0px 3px rgba(0,0,0,0.4);box-shadow:0px 0px 3px rgba(0,0,0,0.4);overflow-x:hidden}.popupInner.black_mode{background:#000;color:#eee;border:3px
solid #626262}.popupInner.warning_mode{border:3px
solid #7D1B1B}.popupInner
h3{border-bottom:1px solid #d8d8d8;text-shadow:rgba(255,255,255,0.8) 0px 1px 0px;background:#eee url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;padding:8px
10px 9px;font-size:16px;font-weight:300}.popupInner h3
a{color:#727272}.popupInner.black_mode
h3{background-color:#595959;color:#ddd}.popupInner.warning_mode
h3{background-color:#7D1B1B;padding-top:6px;padding-bottom:6px;color:#fff}.popupClose{position:absolute;right:20px;top:20px}.popupClose.light_close_button{background:transparent url('http://forum_en.dev/public/style_images/chameleon/close_popup_light.png') no-repeat top left;opacity:0.8;width:13px;height:13px;top:17px}.popupClose.light_close_button
img{display:none}.popup_footer{padding:15px;position:absolute;bottom:0px;right:0px}.popup_body{padding:10px}.stem{width:31px;height:16px;position:absolute}.stem.topleft{background-image:url('http://forum_en.dev/public/style_images/chameleon/stems/topleft.png')}.stem.topright{background-image:url('http://forum_en.dev/public/style_images/chameleon/stems/topright.png')}.stem.bottomleft{background-image:url('http://forum_en.dev/public/style_images/chameleon/stems/bottomleft.png')}.stem.bottomright{background-image:url('http://forum_en.dev/public/style_images/chameleon/stems/bottomright.png')}.modal{background-color:#3e3e3e}.userpopup
h3{font-size:17px}.userpopup h3, .userpopup .side+div{padding-left:110px}.userpopup
.side{position:absolute;margin-top:-40px}.userpopup .side
.ipsButton_secondary{display:block;text-align:center;margin-top:5px;max-width:75px;height:auto;line-height:1;padding:5px
10px;white-space:normal}.userpopup
.user_controls{text-align:left}.userpopup
.user_status{padding:5px;margin-bottom:5px}.userpopup
.reputation{display:block;text-align:center;margin-top:5px}.userpopup{overflow:hidden;position:relative;font-size:0.9em;min-height:200px}.userpopup
dl{padding-bottom:10px;margin-bottom:4px}.info
dt{float:left;font-weight:bold;padding:3px
6px;clear:both;width:30%}.info
dd{padding:3px
6px;width:60%;margin-left:35%}.topic_buttons
li{float:right;margin:0
0 10px 10px}.topic_buttons li.important a, .topic_buttons li.important span, .ipsButton .important,
.topic_buttons li a, .topic_buttons li span,.ipsButton{background:url('http://forum_en.dev/public/style_images/chameleon/trans50.png') repeat;background:rgba(0,0,0,0.5);-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;-moz-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;color:#fff;text-shadow:rgba(0,0,0,0.8) 0px -1px 0px;font:300 12px/1.3 Helvetica, Arial, sans-serif;line-height:30px;height:30px;padding:1px
10px;text-align:center;min-width:125px;display:inline-block;cursor:pointer}.topic_buttons li.important a, .topic_buttons li.important span, .ipsButton .important,.ipsButton.important{background:#8b1515 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 -1px !important;border-color:#790f0f;color:#fff;text-shadow:none}.topic_buttons li a:hover,.ipsButton:hover{background:url('http://forum_en.dev/public/style_images/chameleon/trans60.png') repeat;background:rgba(0,0,0,0.6);color:#fff}.topic_buttons li a:active,.ipsButton:active{position:relative;top:1px}.topic_buttons li.non_button
a{background:transparent !important;background-color:transparent !important;border:0;box-shadow:none !important;-moz-box-shadow:none !important;-webkit-box-shadow:none !important;text-shadow:none;min-width:0px;color:#ddd;font-weight:normal;padding-top:1px;padding-bottom:1px}.topic_buttons li.non_button a:active{top:0}.topic_buttons li.disabled a, .topic_buttons li.disabled
span{background:#ebebeb;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;text-shadow:none;border:0;color:#7f7f7f}.topic_buttons li
span{cursor:default !important}.ipsButton_secondary,
.bbc_spoiler_show,
.user_controls li
a{height:24px;line-height:24px;font-size:11px;padding:0
10px;background:#ececec url('http://forum_en.dev/public/style_images/chameleon/highlight_strong.png') repeat-x 0 0;border:1px
solid #d0d0d0;-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.1), inset rgba(255,255,255,0.7) 0px 1px 0px;-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.1), inset rgba(255,255,255,0.7) 0px 1px 0px;box-shadow:0px 1px 2px rgba(0,0,0,0.1), inset rgba(255,255,255,0.7) 0px 1px 0px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;color:#616161;text-shadow:#fff 0px 1px 0px;display:inline-block;white-space:nowrap;cursor:pointer}.ipsButton_secondary
a{color:#616161}.ipsButton_secondary:hover,
.bbc_spoiler_show:hover,
.user_controls li a:hover{color:#4c4c4c;background-color:#f8f8f8}.ipsButton_secondary.important{background:#ae3232 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 0;border:1px
solid #a22c2c;color:#fbf4f4;text-shadow:rgba(0,0,0,0.2) 0px -1px 0px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.ipsButton_secondary
.icon{margin-right:4px;margin-top:-3px}.ipsButton_secondary
img.small{max-height:12px;margin-left:3px;margin-top:-2px;opacity:0.5}.ipsButton_secondary.important
a{color:#fbf4f4}.ipsButton_secondary.important a:hover,a.ipsButton_secondary.important:hover{color:#fff;background-color:#bb3c3c}.ipsButton_secondary:active{-webkit-box-shadow:inset rgba(0,0,0,0.15) 0px 1px 2px, rgba(255,255,255,0.5) 0px 1px 0px;-moz-box-shadow:inset rgba(0,0,0,0.15) 0px 1px 2px, rgba(255,255,255,0.5) 0px 1px 0px;box-shadow:inset rgba(0,0,0,0.15) 0px 1px 2px, rgba(255,255,255,0.5) 0px 1px 0px;position:relative;top:1px}.ipsButton_secondary
img{vertical-align:middle;margin-top:-1px}.ipsField.ipsField_checkbox.ipsButton_secondary{line-height:18px}.ipsField.ipsField_checkbox.ipsButton_secondary
input{margin-top:6px}.ipsField.ipsField_checkbox.ipsButton_secondary
.ipsField_content{margin-left:18px}.ipsButton_extra{line-height:22px;height:22px;font-size:11px;margin-left:5px;color:#5c5c5c}.ipsButton_secondary.fixed_width{min-width:170px}.ipsButton.no_width{min-width:0}.topic_controls{min-height:30px;overflow:hidden}.topic_controls, .topic_controls
a{color:#ddd}ul.post_controls{margin:0;background:#f8f8f8;border-top:1px solid #f0f0f0;margin-top:10px;padding:7px;clear:both;overflow:hidden}ul.post_controls
li{font-size:11px;float:right;margin:0;padding:0}ul.post_controls li.report, ul.post_controls
li.top{float:left}ul.post_controls
a{color:#f0f0f0;text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;background:#4d4d4d url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 1px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;height:26px;line-height:26px;padding:0
10px;text-decoration:none;margin-left:4px;display:block}ul.post_controls a:hover{background-color:#5f5f5f;color:#fff}ul.post_controls
a.ipsButton_secondary{height:24px;line-height:24px}ul.post_controls li.multiquote.selected
a{background:#406d96 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 1px;color:#fff}.post_body
ul.post_controls{margin:0
-12px -12px -187px}.column_view .post_body
ul.post_controls{margin-left:-188px}.post_block.no_sidebar .post_body
ul.post_controls{margin-left:0px}.post_body ul.post_controls
img{vertical-align:middle;margin:-3px 2px 0px -3px;position:relative}.hide_signature,.sigIconStay{float:right}.post_block:hover .signature a.hide_signature,.sigIconStay{background:transparent url('http://forum_en.dev/public/style_images/chameleon/cross_sml.png') no-repeat top right;width:13px;height:13px;opacity:0.6;position:absolute;right:10px}.pagination{padding:5px
0;line-height:22px}.pagination.no_numbers
.page{display:none}.pagination
.pages{text-align:center}.pagination
.back{margin-right:5px}.pagination
.forward{margin-left:5px}.pagination
a{color:#ddd}.pagination .page a,
.pagination .back a,
.pagination .forward
a{background:#e5e5e5 url('http://forum_en.dev/public/style_images/chameleon/highlight_strong.png') repeat-x 0 0;color:#747474;text-shadow:#fff 0px 1px 0px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:rgba(0,0,0,0.05) 0px 1px 2px;-moz-box-shadow:rgba(0,0,0,0.05) 0px 1px 2px;box-shadow:rgba(0,0,0,0.05) 0px 1px 2px;display:inline-block;padding:1px
8px;text-transform:lowercase;font-size:11px;font-weight:normal}.pagination .page a:hover,
.pagination .back a:hover,
.pagination .forward a:hover{background-color:#efefef;color:#747474}.pagination .disabled
a{opacity:0.4;display:none}.pagination
.pages{font-size:11px}.pagination .pages a,.pagejump{display:inline-block}.pagination .pagejump
a{padding:0px
7px}.pagination .pagejump a:hover{text-decoration:underline}.pagination
li{margin:0}.pagination .pages
li.active{background:url('http://forum_en.dev/public/style_images/chameleon/trans50.png') repeat;background:rgba(0,0,0,0.5);color:#fff;text-shadow:rgba(0,0,0,0.8) 0px -1px 0px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;-moz-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;padding:1px
8px;cursor:default}.pagination.no_pages
span{color:#ddd;display:inline-block;line-height:20px;height:20px}ul.mini_pagination{font-size:0.8em;display:inline;margin-left:7px}ul.mini_pagination li
a{background:#5f5f5f;color:#fff;padding:2px
6px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}ul.mini_pagination li a:hover{background:#444}ul.mini_pagination
li{display:inline;margin:0px
1px 0px 0px}.moderation_bar{text-align:right;padding:8px
10px}.moderation_bar.with_action{background-image:url('http://forum_en.dev/public/style_images/chameleon/topic_mod_arrow.png');background-repeat:no-repeat;background-position:right center;padding-right:35px}.column_view
.post_wrap{background:#fbfbfb}.column_view
.post_body{border-left:1px solid #f0f0f0}.author_info{width:155px;float:left;font-size:12px;text-align:center;padding:10px
10px;line-height:150%}.author_info
.group_title{color:#5a5a5a;margin-top:5px}.author_info
.member_title{margin-bottom:5px;word-wrap:break-word}.author_info
.group_icon{margin-bottom:3px}.custom_fields{color:#818181;margin-top:8px}.custom_fields
.ft{color:#505050;margin-right:3px}.custom_fields
.fc{word-wrap:break-word}.user_controls{text-align:center;margin:6px
0}.user_controls li
a{padding:0
5px}#board_index{position:relative}#board_index.no_sidebar{padding-right:0px}#board_index.force_sidebar{padding-right:280px}#toggle_sidebar{position:absolute;right:-5px;top:-12px;z-index:8000;background:#333;padding:3px
7px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;opacity:0;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out}#index_stats:hover + #toggle_sidebar, #board_index.no_sidebar
#toggle_sidebar{opacity:0.1}#toggle_sidebar:hover{opacity:1 !important}.ipsSideBlock,.general_box{background:#fff;border:1px
solid #d8d8d8;margin-bottom:10px}.ipsSideBlock{padding:10px;border:0;-webkit-box-shadow:rgba(0,0,0,0.2) 0px 1px 3px;-moz-box-shadow:rgba(0,0,0,0.2) 0px 1px 3px;box-shadow:rgba(0,0,0,0.2) 0px 1px 3px}.bar,
.ipsSideBlock h3,
.general_box
h3{border-bottom:1px solid #d8d8d8;text-shadow:rgba(255,255,255,0.8) 0px 1px 0px;background:#eee url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;padding:8px}.bar{border-top:1px solid #d8d8d8}.ipsPostForm_sidebar .ipsPostForm_sidebar_block:first-of-type h3.bar,.bar.noTopBorder{border-top:0}.ipsSideBlock h3, .ipsSideBlock h3 a, .general_box h3, .general_box h3 a, .bar, .bar
a{color:#727272}.ipsSideBlock
h3{margin:-10px -10px 10px -10px}.ipsSideBlock h3
.mod_links{color:#fff;opacity:0.0;display:inline-block;padding:1px
4px 3px 4px;margin-top:-2px;text-shadow:none;background:url('http://forum_en.dev/public/style_images/chameleon/trans40.png') repeat;background:rgba(0,0,0,0.4);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset rgba(0,0,0,0.6) 0px 1px 2px;-moz-box-shadow:inset rgba(0,0,0,0.6) 0px 1px 2px;box-shadow:inset rgba(0,0,0,0.6) 0px 1px 2px}.ipsSideBlock h3:hover
.mod_links{opacity:1}.sideVerticalList, #index_stats
.ipsList_withminiphoto{margin:-10px}#index_stats .ipsList_withminiphoto
img{margin-bottom:-3px}.sideVerticalList.with_margin{margin-bottom:10px}.status_list
.status_list{margin:10px
0 0 35px}.status_list
p.index_status_update{line-height:120%;margin:4px
0px}.status_list
li{position:relative}.status_reply{margin-top:8px}.status_list li
.mod_links{opacity:0.1;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out}.status_list li:hover
.mod_links{opacity:1}#board_stats
ul{text-align:center;color:#fff;text-shadow:rgba(0,0,0,0.5) 0px 1px 1px}#board_stats
li{margin-right:20px}#board_stats
.value{display:inline-block;background:url('http://forum_en.dev/public/style_images/chameleon/trans50.png') repeat;background:rgba(0,0,0,0.5);color:#fff;text-shadow:rgba(0,0,0,0.8) 0px -1px 0px;padding:3px
7px;font-weight:bold;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin-right:3px;-webkit-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.3) 0px 1px 0px;-moz-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.3) 0px 1px 0px;box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.3) 0px 1px 0px}.statistics{margin:20px
0 0 0;padding:8px;line-height:1.3;overflow:hidden;-webkit-box-shadow:0px 1px 6px rgba(0,0,0,0.65);-moz-box-shadow:0px 1px 6px rgba(0,0,0,0.65);box-shadow:0px 1px 6px rgba(0,0,0,0.65)}.statistics_head{border-bottom:1px solid #d8d8d8;border-top:1px solid #d8d8d8;text-shadow:rgba(255,255,255,0.8) 0px 1px 0px;background:#eee url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;font-size:11px;font-weight:bold;padding:8px;margin:-8px -8px 8px -8px}.statistics_head,
.statistics_head
a{color:#727272}.statistics .statistics_head:first-of-type{border-top:0}.statistics .statistics_head:not(:first-of-type){margin-top:0}#stat_links{font-weight:normal}#stat_links
a{margin:0
5px}.friend_list ul li,
#top_posters
li{text-align:center;padding:8px
0 0 0;margin:5px
0 0 0;min-width:80px;height:80px;float:left}.friend_list ul li span.name,
#top_posters li
span.name{font-size:0.95em}.friend_list ul li
.ipsUserPhoto{margin-bottom:5px}#hook_watched_items ul
li{padding:8px}body#ipboard_body #hook_watched_items
fieldset.submit{padding:8px}#hook_birthdays
.list_content{padding-top:8px}#hook_calendar
.ipsBox_container{padding:10px}#hook_calendar td, #hook_calendar
th{text-align:center}#hook_calendar
th{font-weight:bold;padding:5px
0}#more_topics{text-align:center;font-weight:bold;background:url('http://forum_en.dev/public/style_images/chameleon/trans10.png') repeat;background:rgba(0,0,0,0.05) url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0}#more_topics a, #more_topics
span{display:block;padding:10px
0}#more_topics,.dynamic_update{border-top:1px dashed #b3b3b3}.topic_preview,ul.topic_moderation{margin-top:-2px;z-index:300}ul.topic_moderation
li{float:left}.topic_preview a,
ul.topic_moderation li
a{padding:0
3px;display:block;float:left}span.mini_rate{margin-right:12px;display:inline-block}img.mini_rate{margin-right:-5px}#postShareUrl{width:95%;font-size:18px;color:#999}#postShareStrip{height:35px;margin:10px
0px 0px 30px}body
.ip{}span.post_id{margin-left:4px}input.post_mod{margin:12px
5px 0px 10px}.post_id a
img.small{max-height:12px;margin-left:3px;margin-top:-2px;opacity:0.5}.signature{clear:right;color:#a4a4a4;font-size:0.9em;border-top:1px solid #f0f0f0;padding:10px;margin:6px
0 4px;position:relative}.signature
a{text-decoration:underline}.post_body
.signature{margin-left:-12px;margin-right:-12px}.post_block{position:relative}.post_block.no_sidebar{background-image:none}.post_block.solved h3,
.answerBadgeInPost,
.horizontalView .post_block.solved
.author_info{background:#dfedd1;text-shadow:rgba(255,255,255,0.8) 0px 1px 0px;border:1px
solid #accf8b}.post_block.solved h3,
.post_block.solved h3 *,
.answerBadgeInPost,
.horizontalView .post_block.solved .author_info
*{color:#436500}.horizontalView .post_block.solved .author_info
.ipsUserPhoto{border-color:#accf8b !important}.post_block.solved h3,
.horizontalView .post_block.solved
.author_info{background-image:-moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0)));background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);background-image:-o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);background-image:linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);-webkit-box-shadow:inset rgba(255,255,255,0.35) 0px 1px 0px;-moz-box-shadow:inset rgba(255,255,255,0.35) 0px 1px 0px;box-shadow:inset rgba(255,255,255,0.35) 0px 1px 0px;border-left:0;border-right:0}.answerBadgeInPost{border-top:0;padding:0
12px;height:30px;line-height:30px;position:relative;float:right;margin:-13px -2px 8px 8px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius:0px 0px 3px 3px;border-radius:0px 0px 3px 3px}.post_block.feature_box{background-color:#dfedd1;background-image:-moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0)));background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);background-image:-o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);background-image:linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);-webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 5px;-moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 5px;box-shadow:rgba(0,0,0,0.1) 0px 1px 5px;border:1px
solid #accf8b;padding:8px;min-height:60px;line-height:180%;font-size:11.4px;word-wrap:break-word}.post_block.feature_box, .post_block.feature_box
*{color:#3a6a16 !important}.post_block.feature_box
.ipsType_sectiontitle{border-color:#accf8b;font-size:11.8px;font-weight:bold}.post_block.feature_box .ipsBadge_green, .post_block.feature_box
.ipsBadge_lightgrey{background:#9ac472;-webkit-box-shadow:inset rgba(0,0,0,0.2) 0px 1px 3px, rgba(255,255,255,0.7) 0px 1px 0px;-moz-box-shadow:inset rgba(0,0,0,0.2) 0px 1px 3px, rgba(255,255,255,0.7) 0px 1px 0px;box-shadow:inset rgba(0,0,0,0.2) 0px 1px 3px, rgba(255,255,255,0.7) 0px 1px 0px;text-shadow:rgba(255,255,255,0.3) 0px 1px 0px;color:#fff !important;text-shadow:rgba(0,0,0,0.2) 0px -1px 0px;padding:3px
9px;font-size:10px}.post_block.feature_box .ipsBadge_lightgrey:hover{background:#7eb54b}.post_block.feature_box
.ipsUserPhoto{border-color:#accf8b !important}.post_block
h3{border-top:1px solid #ccc;border-bottom:1px solid #ccc;text-shadow:rgba(255,255,255,0.6) 0px 1px 0px;background:#dadada url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;padding:0
10px;height:36px;line-height:36px;font-weight:normal;font-size:13px}.post_block h3,
.post_block h3
a{color:#444}.post_block:first-of-type
h3{border-top:0}.post_online{vertical-align:middle;margin:-3px 5px 0 0}.post_username{float:left;min-width:177px;font-weight:bold}.post_date{color:#777;float:left;font-size:11px;font-weight:normal}.post_wrap{top:0px}.post_body{margin-left:175px;padding:12px}.post_body
.post{line-height:1.6;font-size:12px}.column_view .post_body
.post{padding-bottom:12px}.post_block.no_sidebar
.post_body{margin-left:0px !important}.posted_info{padding:0
0 10px 0}.posted_info
strong.event{color:#1c2837;font-size:1.2em}.post_ignore{background:#f8f8f8;color:#777;font-size:0.9em;padding:15px}.post_ignore
.reputation{text-align:center;padding:2px
6px;float:none;display:inline}.rep_bar{white-space:nowrap;margin:6px
4px}.rep_bar
.reputation{font-size:10px;padding:2px
10px !important}p.rep_highlight{float:right;display:inline-block;margin:5px
10px 10px 10px;background:#D5DEE5;color:#1d3652;padding:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:0.8em;font-weight:bold;text-align:center}p.rep_highlight
img{margin-bottom:4px}.edit{padding:8px
8px 8px 28px;background:#ffebc8 url('http://forum_en.dev/public/style_images/chameleon/comment_edit.png') no-repeat 6px 10px;border:1px
solid #ecc272;color:#ac6328;text-shadow:#fffaf1 0px 1px 0px;font-size:11px;margin-top:15px;line-height:18px}.poll
fieldset{padding:9px}.poll_question{}.poll_question
h4{background:#ebebeb;padding:5px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px}.poll_question
ol{padding:20px}.poll_question
li{font-size:0.9em;margin:6px
0}.poll_question
.votes{margin-left:5px}.snapback{margin-right:5px;padding:1px
0 1px 1px}.rating{display:block;margin-bottom:4px;line-height:16px}.rating
img{vertical-align:top}#rating_text{margin-left:4px}div.post_form
label{text-align:right;padding-right:15px;width:275px;float:left;clear:both}div.post_form span.desc,
fieldset#poll_wrap
span.desc{margin-left:290px;display:block;clear:both}div.post_form .checkbox input.input_check,
#mod_form .checkbox
input.input_check{margin-left:295px}div.post_form
.antispam_img{margin-left:290px}div.post_form .captcha
.input_text{float:left}div.post_form
fieldset{padding-bottom:15px}div.post_form
h3{margin-bottom:10px}fieldset.with_subhead{margin-bottom:0;padding-bottom:0}fieldset.with_subhead
h4{text-align:right;margin-top:6px;width:300px;float:left}fieldset.with_subhead
ul{padding-bottom:6px;margin:0
15px 6px 320px}fieldset.with_subhead span.desc,
fieldset.with_subhead
label{margin:0;width:auto}fieldset.with_subhead .checkbox
input.input_check{margin-left:0px}#toggle_post_options{background:transparent url('http://forum_en.dev/public/style_images/chameleon/add.png') no-repeat;font-size:0.9em;padding:2px
0 2px 22px;margin:15px;display:block}#poll_wrap
.question{margin-bottom:10px}#poll_wrap .question .wrap
ol{margin-left:25px;list-style:decimal}#poll_wrap .question .wrap ol
li{margin:5px}.question_title{margin-left:30px;padding-bottom:0}.question_title
.input_text{font-weight:bold}#poll_wrap{position:relative}#poll_footer{}#poll_container_wrap{overflow:auto}#poll_popup_inner{overflow:hidden}.poll_control{margin-left:20px}.post_form .tag_field
ul{margin-left:290px}.swfupload{position:absolute;z-index:1}#attachments{}#attachments
li{background-color:#f1f1f1;text-shadow:rgba(255,255,255,0.7) 0px 1px 0px;border:1px
solid #dcdcdc;padding:6px
20px 6px 42px;margin-bottom:10px;position:relative;-webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 4px;-moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 4px;box-shadow:inset rgba(0,0,0,0.1) 0px 1px 4px}#attachments li
p.info{font-size:0.8em;width:300px}#attachments li .links, #attachments li.error .links, #attachments.traditional
.progress_bar{display:none}#attachments li.complete
.links{font-size:0.9em;margin-right:15px;right:0px;top:12px;display:block;position:absolute}#attachments li
.progress_bar{margin-right:15px;width:200px;right:0px;top:15px;position:absolute}#attachments li.complete, #attachments li.in_progress, #attachments
li.error{background-repeat:no-repeat;background-position:12px 12px}#attachments
li.in_progress{background-image:url('http://forum_en.dev/public/style_images/chameleon/loading.gif')}#attachments
li.error{background-image:url('http://forum_en.dev/public/style_images/chameleon/exclamation.png');background-color:#e8caca;border:1px
solid #ddafaf}#attachments li.error
.info{color:#8f2d2d}#attachments
li.complete{background-image:url('http://forum_en.dev/public/style_images/chameleon/accept.png')}#attachments li
.thumb_img{left:6px;top:6px;width:30px;height:30px;overflow:hidden;position:absolute}.attach_controls{background:url('http://forum_en.dev/public/style_images/chameleon/icon_attach.png') no-repeat 3px top;padding-left:30px;min-height:82px}.attach_controls
.ipsType_subtitle{margin-bottom:5px}.attach_controls
iframe{display:block;margin-bottom:5px}.attach_button{font-weight:bold}#help_msg{margin-top:8px}#attach_wrap{margin-top:10px;overflow:hidden}#attach_wrap
h4{font-size:16px;padding-left:0px}#attach_wrap
li{margin:5px
0;float:left}#attach_wrap
.attachment{float:none}#attach_wrap
.desc.info{margin-left:24px}#attach_error_box{margin-bottom:10px}.resized_img{margin:0
5px 5px 0;display:inline-block}.reputation{font-weight:bold;padding:3px
8px;display:inline-block;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-shadow:rgba(0,0,0,0.3) 0px -1px 0px}.reputation.positive, .members
li.positive{background:#8db13e url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 1px}.reputation.negative, .members
li.negative{background:#b82929 url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 1px}.reputation.positive,.reputation.negative{color:#fff}.reputation.zero{background:#6a6a6a url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 1px;color:#fff}.status_main_content{white-space:break-word}.status_main_content
h4{font-weight:normal;font-size:1.2em}.status_main_content h4 .su_links
a{font-weight:normal}.status_main_content
p{padding:6px
0px 6px 0px}.status_main_content h4
a{font-weight:bold;text-decoration:none}.status_mini_wrap{padding:7px;font-size:0.95em;margin-top:2px;background:rgba(0,0,0,0.04);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.status_mini_wrap
img{vertical-align:middle;position:relative;margin-top:-2px}.status_mini_photo{float:left}.status_textarea{width:99%}#index_stats
.status_textarea{width:180px}.status_replies_many{height:300px;overflow:auto}.status_update{background:#8a8a8a url('http://forum_en.dev/public/style_images/chameleon/highlight_faint.png') repeat-x 0 0;color:#fff;text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;padding:15px
12px;text-align:center}.status_update
.input_text{width:70%;background:#e0e0e0;color:#363636;text-shadow:rgba(255,255,255,0.8) 0px 1px 0px;border:1px
solid #5e5e5e;-webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;-moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;box-shadow:rgba(0,0,0,0.1) 0px 1px 3px}.status_update
.input_submit{padding-left:15px;padding-right:15px}.status_submit{padding-top:5px}#status_wrapper
h4{font-weight:bold;font-size:14px}.status_content{line-height:1.4}.status_content
.mod_links{opacity:0.2}.status_content:hover
.mod_links{opacity:1}.status_content .h4, .status_content
.status_status{font-size:14px;word-wrap:break-word}.status_content
.status_status{padding:2px
0 5px 0}.status_feedback
.status_mini_content{line-height:18px}.status_feedback{margin:10px
0 0 -10px}.ips_like{background-color:#f6f6f6;padding:6px;color:#878787;font-size:1em;min-height:18px;line-height:130%;clear:both;overflow:hidden}.ips_like
a{color:#878787}.ips_like
a.ftoggle{float:right;background:#878787;border:1px
solid #747474;padding:3px
4px 2px 4px;color:#fff;text-shadow:rgba(0,0,0,0.2) 0px -1px 0px;font-size:0.9em;text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin-top:-4px}.ips_like
a.ftoggle.on{background:#545454;border-color:#474747;margin-left:3px}.ips_like a.ftoggle._newline,
.ips_like
a.ftoggle.on._newline{float:none;margin-top:5px;margin-left:auto;margin-right:0;display:block;width:70px;text-align:center}.ips_like a:hover.ftoggle.on,
.ips_like a:hover.ftoggle{background-color:#545454}.facebook-like{margin-top:5px}.boxShadow{-webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 5px;-moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 5px;box-shadow:rgba(0,0,0,0.1) 0px 1px 5px}#ipsGlobalNotification{position:fixed;left:50%;margin-left:-250px;top:20px;text-align:center;font-weight:bold;z-index:10000}#ips_NotificationCloseButton{background:transparent url('http://forum_en.dev/public/style_images/chameleon/close_popup.png') no-repeat top left;opacity:0.8;width:13px;height:13px;top:5px;left:5px;position:absolute;cursor:pointer}.googlePlusOne{display:inline-block;vertical-align:middle;margin-top:1px}.fbLike{float:right !important;padding-left:2px;max-height:50px;overflow:hidden}#mymedia_inserted{position:absolute;top:100px;left:50%;margin-left:-200px;width:400px;padding:20px
0;background:#000;font-size:15px;font-weight:bold;color:#fff;z-index:20000;text-align:center;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}#mymedia_toolbar{position:absolute;bottom:0;left:0;right:0;height:42px;line-height:42px;padding:0
5px;background:#dcdcdc url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 1px}#mymedia_finish{position:absolute;right:5px;top:5px}#mymedia_content{height:339px;overflow:auto}.media_results
li.result{width:20%;height:120px;padding:10px
0;float:left;text-align:center;cursor:pointer;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}.media_results li:hover{background:#F9F9F9;background:-moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#EDEDED))}.media_results li:active{background:#EDEDED;background:-moz-linear-gradient(top, #EDEDED 0%, #F9F9F9 100%);background:-webkit-gradient(linear, left top, left bottom,color-stop(0%,#EDEDED),color-stop(100%,#F9F9F9))}.media_image{padding:1px;background:#fff;border:1px
solid #d5d5d5;margin-bottom:5px;-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.1);-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.1);box-shadow:0px 2px 2px rgba(0,0,0,0.1)}.templateError{background:#fff !important;color:#000 !important;padding:10px
!important;border:1px
dotted black !important;margin:0px
!important}.modcp_post_controls{padding-bottom:15px}.modcp_post_controls
.ipsButton_secondary{opacity:0.5}.post_body:hover .modcp_post_controls
.ipsButton_secondary{opacity:1}#modcp_content .ipsFilterbar li.active
a{margin-bottom:1px;display:inline-block}.nexusad{padding:10px;clear:both}#bbcode-description{color:#666 !important;white-space:normal !important;word-wrap:break-word}@media only screen and (device-width: 768px){table.ipb_table .expander,
table.ipb_table
.ipsModMenu{visibility:visible;opacity:0.2}.post_block
.post_controls{opacity:1 !important}}.fb-like{height:20px;overflow:hidden}#stats_div{height:0px;overflow:hidden}.skin_link{float:left;padding-top:4px}.skin_link, .skin_link
a{color:#fff !important}.skin_link a:hover{text-decoration:underline}.negMargin{margin:-9px}.negMarginTop{margin-top:-9px}.negMarginRight{margin-right:-9px}.negMarginBottom{margin-bottom:-9px}.negMarginLeft{margin-left:-9px}.input_submit,.ipsButton_secondary{outline:none}#rss_feed{margin-top:-1px}#index_stats .status_submit
.input_submit{font-size:11px}div[id$="member_popup"] .general_box{margin:0;border:0}.ipsList_withminiphoto.ipsPad_half{padding:0
!important}.ipsList_withminiphoto>li{overflow:hidden}.status_list
li{margin-top:10px}.fullList{margin:-9px}#usercp_content
.ipsType_subtitle{margin-bottom:10px;padding-bottom:6px;padding-top:3px}#modCpanel
.ipsType_subtitle{padding-top:4px;padding-bottom:5px}.col_f_icon
span{margin-bottom:6px;margin-top:2px}.idx_album_thumb{padding-left:5px !important;padding-right:1px !important}.idx_album_thumb
img{width:32px;height:32px}.idx_album_thumb img, .inlineimage img, #appGallLatestHook
img{-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:rgba(0,0,0,0.2) 0px 1px 2px;-moz-box-shadow:rgba(0,0,0,0.2) 0px 1px 2px;box-shadow:rgba(0,0,0,0.2) 0px 1px 2px}.inlineimage img:hover, #appGallLatestHook img:hover{opacity:0.9}.topic_desc{display:inline-block;padding-top:3px}.ipbfs_login
h4{padding:10px;font-weight:bold;font-size:15px;background:rgba(0,0,0,0.05) url('http://forum_en.dev/public/style_images/chameleon/highlight.png') repeat-x 0 0;border-bottom:1px solid #ccc}.ipbfs_login
.ipsForm_submit{margin-top:0}.ipbfs_login
.ipsBox_notice{margin:0}.ipbfs_login_col{float:left;width:279px;padding:15px
10px}.ipbfs_login_col a:hover{text-decoration:underline}.ipbfs_login_row{overflow:hidden}.ipbfs_login_row
label{font-size:1.15em}.ipbfs_login
.input_submit{font-size:13px}.ipbfs_login_input{padding:6px
0px 6px 28px;font-size:14px;margin-top:10px;width:250px}.ipbfs_luser{background-image:url("http://forum_en.dev/public/style_images/chameleon/user.png");background-repeat:no-repeat;background-position:7px 50%}.ipbfs_lpassword{background-image:url("http://forum_en.dev/public/style_images/chameleon/key.png");background-repeat:no-repeat;background-position:7px 50%}.ipbfs_titlebox
.desc{padding:3px
0}.ipbfs_titlebox .desc, .ipbfs_titlebox .desc
a{color:#d2e6fa !important}.ipbfs_titlebox{background:url('http://forum_en.dev/public/style_images/chameleon/trans50.png') repeat;background:rgba(0,0,0,0.5);color:#fff;text-shadow:rgba(0,0,0,0.8) 0px -1px 0px;-webkit-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;-moz-box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;box-shadow:inset rgba(0,0,0,0.5) 0px 1px 2px, rgba(255,255,255,0.2) 0px 1px 0px, rgba(255,255,255,0.08) 0px 0px 0px 1px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:10px;overflow:hidden}.ipbfs_titlebox
h1{color:#fff !important}.content_border{border:1px
solid #ddd;-webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 4px;-moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 4px;box-shadow:rgba(0,0,0,0.1) 0px 1px 4px}.box{background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 1px 6px rgba(0,0,0,0.65);-moz-box-shadow:0px 1px 6px rgba(0,0,0,0.65);box-shadow:0px 1px 6px rgba(0,0,0,0.65);padding-bottom:5px}#categories table tr:hover td,
table.hover_rows tr:hover
td{background:#f9f9f9 !important}.ipsHeaderMenu
h4{overflow:hidden}.guestMessage{background:#fff;line-height:140%;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 1px 6px rgba(0,0,0,0.65);-moz-box-shadow:0px 1px 6px rgba(0,0,0,0.65);box-shadow:0px 1px 6px rgba(0,0,0,0.65);margin-bottom:10px;padding:10px}.guestMessage
strong{display:inline-block;margin-bottom:6px}.guestMessage
a{text-decoration:none;border-bottom:1px solid #bbb}.forum_name{font-weight:bold}.forum_desc_pos{position:relative}.forum_desc_con{width:350px;display:none;left:10px;float:left;position:absolute;top:-4px;padding-left:10px;background:url("http://forum_en.dev/public/style_images/chameleon/forum_desc_arrow.png") no-repeat 6px 9px;z-index:10000}.forum_description{color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background:url("http://forum_en.dev/public/style_images/chameleon/forum_desc.png") repeat;background:rgba(15,15,15,0.9);-webkit-box-shadow:rgba(0,0,0,0.3) 0px 1px 7px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 1px 7px;box-shadow:rgba(0,0,0,0.3) 0px 1px 7px;font-size:11px;padding:5px;display:block;float:left}.topicViewIcons{overflow:hidden;position:relative;padding-bottom:1px;margin:-3px 10px -5px 0}.topicViewIcons
img{vertical-align:top;margin-top:4px;width:16px;height:16px;background:url("http://forum_en.dev/public/style_images/chameleon/topicViewIcon.png") no-repeat}.topicViewIcons #topicViewRegular
img{background-position:0 0}.topicViewIcons #topicViewRegular.active
img{background-position:0 -16px}.topicViewIcons #topicViewBasic
img{background-position:-16px 0}.topicViewIcons #topicViewBasic.active
img{background-position:-16px -16px}.topicViewIcons
a{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;float:left;width:22px;height:22px;text-decoration:none;text-align:center;outline:none;margin-right:5px;opacity:0.6}.topicViewIcons a:hover{background:url("http://forum_en.dev/public/style_images/chameleon/trans10.png") repeat;background:rgba(0,0,0,0.1);opacity:0.8}.topicViewIcons
a.active{background:url("http://forum_en.dev/public/style_images/chameleon/trans50.png") repeat;background:rgba(0,0,0,0.5);-webkit-box-shadow:inset rgba(0,0,0,0.6) 0px 1px 3px, #fff 0px 1px 0px;-moz-box-shadow:inset rgba(0,0,0,0.6) 0px 1px 3px, #fff 0px 1px 0px;box-shadow:inset rgba(0,0,0,0.6) 0px 1px 3px, #fff 0px 1px 0px;opacity:1}.basicTopicView
.post_body{margin-left:0 !important;border:0
!important}.basicTopicView .post_body
ul.post_controls{margin:0
-12px -12px -12px}.basicTopicView .author_info, .basicTopicView
.signature{display:none}.basicTopicView
.post_username{min-width:0px;padding-right:10px;margin-right:10px;border-right:1px solid rgba(255,255,255,0.2)}.forum_stats{font-size:11px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;padding-top:4px;color:#888;text-transform:capitalize}.forum_stats
span{color:#aaa}.horizontalView
.post_block{position:static}.horizontalView
.author_info{border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#eaeaea;background-image:-moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0)));background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);background-image:-o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);background-image:linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);-webkit-box-shadow:rgba(0,0,0,0.08) 0px 2px 5px;-moz-box-shadow:rgba(0,0,0,0.08) 0px 2px 5px;box-shadow:rgba(0,0,0,0.08) 0px 2px 5px;text-shadow:#fff 0px 1px 0px;float:none;width:auto;text-align:left;position:relative}.horizontalView .post_block:first-of-type
.author_info{border-top:0}.horizontalView
.post_body{margin-left:0;border:0}.horizontalView .post_body
ul.post_controls{margin:0
-12px -12px -12px}.postInfoBottom{padding-top:10px;font-size:11px;opacity:0;padding-bottom:10px}.horizontalView .post_body:hover
.postInfoBottom{opacity:1}.postInfoBottom
input.post_mod{margin:2px
0 0 0}.postInfoBottom
span.post_id{margin:0}.postInfoBottom,
.postInfoBottom
a{color:#cfcfcf}.horizontalView
.postDate{margin-right:15px}.horizontalAvatar{margin-right:10px}.horizontalUserInfo{overflow:hidden}.horizontalUsername{font-size:24px;font-weight:bold;padding:6px
0 3px 0}.horizontalInfoList{float:left;width:175px;color:#a4a4a4;font-size:11px}.horizontalInfoList
li{padding:2px
0}.horizontalView
.custom_fields{margin-top:0}.horizontalView .author_info
.group_icon{margin:0}.fadedForumIcon{-webkit-filter:grayscale(1);filter:grayscale(100%);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity:0.3}.ipbforumskins{}